TD.normal {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #404040; FONT-FAMILY: Verdana, sans-serif, Arial
}
TABLE.servicesT {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid; MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: xx-small; BORDER-LEFT: #6699cc 1px solid; WIDTH: 250px; COLOR: #404040; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; border-spacing: 0px
}
TABLE.servicesT TD.servHd {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #404040; BORDER-BOTTOM: #d8d8d8 2px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: center
}
TABLE.servicesT TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #404040; PADDING-TOP: 3px; BORDER-BOTTOM: #cedcea 1px dotted; FONT-FAMILY: Verdana, sans-serif, Arial; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.servBodL {
	BORDER-LEFT: #cedcea 1px dotted
}
TABLE.servicesT TD UL {
	LIST-STYLE: none none inside; FONT-SIZE: 10px; MARGIN: 8px 3px 10px -20px; LINE-HEIGHT: 14px
}
TABLE.servicesT TD LI {
	FONT-SIZE: 10px; LINE-HEIGHT: 18px
}
TABLE.servicesT TD H5 {
	MARGIN: 3px 3px -3px 6px
}
.alerts {
	BORDER-RIGHT: #d79900 1px solid; BORDER-TOP: #d79900 1px solid; BORDER-LEFT: #d79900 1px solid; WIDTH: 260px; COLOR: #404040; BORDER-BOTTOM: #d79900 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left; border-spacing: 0px
}
.alerts TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #404040; BORDER-BOTTOM: #d79900 2px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #fff2ba; TEXT-ALIGN: center
}
.alertsFloat {
	BORDER-RIGHT: #d79900 1px solid; BORDER-TOP: #d79900 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; FLOAT: right; MARGIN: 15px 0px 10px 3px; BORDER-LEFT: #d79900 1px solid; WIDTH: 220px; COLOR: #404040; BORDER-BOTTOM: #d79900 1px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: center; border-spacing: 0px
}
DIV.spacer {
	CLEAR: both
}
.alertHd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #404040; BORDER-BOTTOM: #d79900 2px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #fff2ba; TEXT-ALIGN: center
}
.alertBod {
	MARGIN: 5px 10px; COLOR: #404040; FONT-FAMILY: Verdana, sans-serif, Arial; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.alertBod P {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 5px 10px; COLOR: #404040; TEXT-INDENT: -8px; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, sans-serif, Arial; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.alertBod UL {
	LIST-STYLE: none none inside; FONT-SIZE: 10px; MARGIN: 8px 3px 10px 10px; LINE-HEIGHT: 14px
}
.alertBod LI {
	FONT-SIZE: 10px; LINE-HEIGHT: 18px
}
.alertBod H5 {
	MARGIN: 3px 3px -3px 6px
}
.side {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; COLOR: #333; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-FAMILY: verdana, arial, sans-serif
}
.sidetitle {
	PADDING-RIGHT: 2px; MARGIN-TOP: 10px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; COLOR: #666; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-FAMILY: verdana, arial, sans-serif; LETTER-SPACING: 0.2em; TEXT-ALIGN: center
}
.sidetitleTop {
	PADDING-RIGHT: 2px; MARGIN-TOP: 40px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; COLOR: #666; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-FAMILY: verdana, arial, sans-serif; LETTER-SPACING: 0.2em; TEXT-ALIGN: center
}
TABLE.helpT {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #6699cc 1px solid; WIDTH: 500px; COLOR: #404040; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; border-spacing: 0px
}
TABLE.helpT TD.helpHed {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #6699cc 1px solid; COLOR: #404040; TEXT-INDENT: 5px; BORDER-BOTTOM: #6699cc 2px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #bec8d1; TEXT-ALIGN: left
}
TABLE.helpT TD {
	PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #404040; BORDER-BOTTOM: #e3f0f6 1px solid; FONT-FAMILY: Verdana, sans-serif, Arial; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.helpHed {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #6699cc 1px solid; COLOR: #404040; TEXT-INDENT: 5px; BORDER-BOTTOM: #6699cc 2px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #bec8d1; TEXT-ALIGN: left
}
.helpBodL {
	BORDER-LEFT: #cedcea 1px dotted
}
TD.helpBod {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #9cf 1px solid; COLOR: #404040; TEXT-INDENT: 10px; FONT-FAMILY: Verdana, sans-serif, Arial; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
TABLE.sofT {
	BORDER-RIGHT: #b9bb94 1px solid; BORDER-TOP: #b9bb94 1px solid; FONT-SIZE: x-small; BORDER-LEFT: #b9bb94 1px solid; WIDTH: 540px; COLOR: #404040; BORDER-BOTTOM: #b9bb94 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: center; border-spacing: 0px
}
TABLE.sofT TH {
	BACKGROUND: #dee1a8; BORDER-BOTTOM: #c8c8c8 1px solid
}
TABLE.sofT TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #b9bb94 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b9bb94 1px solid; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
TABLE.sofT TD.helpHed {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #6699cc 1px solid; COLOR: #404040; TEXT-INDENT: 5px; BORDER-BOTTOM: #6699cc 2px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #bec8d1; TEXT-ALIGN: left
}
TABLE.sofT TD.sup {
	BACKGROUND-COLOR: #fcc
}
.sup {
	BACKGROUND-COLOR: #fcc
}
#main TABLE.localNav {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid; MARGIN-TOP: 40px; FONT-WEIGHT: normal; FONT-SIZE: 11px; FLOAT: right; MARGIN-LEFT: 15px; BORDER-LEFT: #6699cc 1px solid; WIDTH: 250px; COLOR: #404040; BORDER-BOTTOM: #6699cc 1px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left; border-spacing: 0px
}
#main TABLE.localNav TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #6699cc 1px solid; COLOR: #404040; TEXT-INDENT: 5px; BORDER-BOTTOM: #6699cc 2px solid; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #bec8d1; TEXT-ALIGN: left
}
#main TABLE.localNav TD {
	PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #404040; BORDER-BOTTOM: #e3f0f6 1px solid; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
#main TABLE.localNav TD.helpHed {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #6699cc 1px solid; COLOR: #404040; TEXT-INDENT: 5px; BORDER-BOTTOM: #6699cc 2px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #bec8d1; TEXT-ALIGN: left
}
TABLE.contacts {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-BOTTOM: 15px; BORDER-LEFT: #000000 1px solid; WIDTH: 580px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; border-spacing: 0px
}
TABLE.contacts CAPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #404040; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #99cccc
}
TABLE.contacts TH {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; COLOR: #404040; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ccc; TEXT-ALIGN: center
}
TABLE.contacts TD.contactDept {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; COLOR: #404040; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #99cccc
}
TABLE.contacts TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; PADDING-BOTTOM: 4px; COLOR: #404040; PADDING-TOP: 4px; BORDER-BOTTOM: #bfdada 1px dotted; FONT-FAMILY: Verdana, sans-serif, Arial; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.tips {
	BORDER-RIGHT: #69c 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #69c 1px dotted; MARGIN-TOP: 10px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #69c 1px dotted; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #69c 1px dotted
}
.virus {
	BORDER-RIGHT: #69c 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #69c 1px dotted; MARGIN-TOP: 20px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #69c 1px dotted; PADDING-TOP: 3px; BORDER-BOTTOM: #69c 1px dotted; TEXT-ALIGN: center
}
.pict {
	BORDER-RIGHT: #69c 1px dotted; BORDER-TOP: #69c 1px dotted; MARGIN-TOP: 25px; BORDER-LEFT: #69c 1px dotted; COLOR: #333333; BORDER-BOTTOM: #69c 1px dotted
}
.verysmall {
	FONT-SIZE: 10px; LINE-HEIGHT: 12px
}
.rightDate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666; LINE-HEIGHT: 12px
}
TABLE.stats {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 280px; COLOR: #fff; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #666; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0px
}
TABLE.stats TD {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #fff 1px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #ccc; TEXT-ALIGN: left
}
TABLE.stats TD.hed {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #fff; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 2px solid; BACKGROUND-COLOR: #666; TEXT-ALIGN: left
}
TABLE.node {
	BORDER-RIGHT: #9a9 2px solid; BORDER-TOP: #a7a 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT: #a7a 1px solid; WIDTH: 138px; COLOR: #404; BORDER-BOTTOM: #9a9 2px solid; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse; HEIGHT: 225px; BACKGROUND-COLOR: #d4d4d4; border-spacing: 0px
}
TABLE.node TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #404040; PADDING-TOP: 5px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
TABLE.node TD.hed {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; COLOR: #404040; PADDING-TOP: 0px; BORDER-BOTTOM: #9a9a9a thin dotted; FONT-FAMILY: Verdana; HEIGHT: 15px; BACKGROUND-COLOR: #e7e57b; TEXT-ALIGN: center
}
