A:visited {
	COLOR: #039
}
A:active {
	COLOR: #039
}
A:link {
	COLOR: #039
}
A:hover {
	COLOR: #f30
}
#header {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/topback.gif); PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #039
}
#title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 60px
}
#title H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 1.6em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px
}
#header P {
	FONT-SIZE: 0.9em; BACKGROUND-COLOR: #69c
}
#sidebar-a {
	BORDER-RIGHT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #f1f1f1
}
#sidebar-a A:active {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; BORDER-LEFT: #f1f1f1 1px solid; COLOR: #000; BORDER-BOTTOM: #f1f1f1 1px solid
}
#sidebar-a A:visited {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; BORDER-LEFT: #f1f1f1 1px solid; COLOR: #000; BORDER-BOTTOM: #f1f1f1 1px solid
}
#sidebar-a A:link {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; BORDER-LEFT: #f1f1f1 1px solid; COLOR: #000; BORDER-BOTTOM: #f1f1f1 1px solid
}
#sidebar-a A:hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #ccc
}
.postsubhead {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(../images/dashed.gif); COLOR: #393; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffcc
}
.postsubhead A:link {
	PADDING-RIGHT: 10px; MARGIN-LEFT: -3px; COLOR: #393; BACKGROUND-COLOR: #ffffff
}
.postsubhead A:visited {
	PADDING-RIGHT: 10px; MARGIN-LEFT: -3px; COLOR: #393; BACKGROUND-COLOR: #ffffff
}
#masthead {
	BACKGROUND: #039; COLOR: #fff
}
#masthead A:link {
	BORDER-RIGHT: #039 1px solid; BORDER-TOP: #039 1px solid; BORDER-LEFT: #039 1px solid; COLOR: #fff; BORDER-BOTTOM: #039 1px solid
}
#masthead A:visited {
	BORDER-RIGHT: #039 1px solid; BORDER-TOP: #039 1px solid; BORDER-LEFT: #039 1px solid; COLOR: #fff; BORDER-BOTTOM: #039 1px solid
}
#masthead A:active {
	BORDER-RIGHT: #039 1px solid; BORDER-TOP: #039 1px solid; BORDER-LEFT: #039 1px solid; COLOR: #fff; BORDER-BOTTOM: #039 1px solid
}
#masthead A:hover {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #666 1px solid; BACKGROUND-COLOR: #69c
}
.Tag1 A:link {
	COLOR: #004
}
.Tag1 A:visited {
	COLOR: #004
}
.Tag1 A:active {
	COLOR: #004
}
.Tag2 A:link {
	COLOR: #005
}
.Tag2 A:visited {
	COLOR: #005
}
.Tag2 A:active {
	COLOR: #005
}
.Tag3 A:link {
	COLOR: #006
}
.Tag3 A:visited {
	COLOR: #006
}
.Tag3 A:active {
	COLOR: #006
}
.Tag4 A:link {
	COLOR: #017
}
.Tag4 A:visited {
	COLOR: #017
}
.Tag4 A:active {
	COLOR: #017
}
.Tag5 A:link {
	COLOR: #028
}
.Tag5 A:visited {
	COLOR: #028
}
.Tag5 A:active {
	COLOR: #028
}
.Tag6 A:link {
	COLOR: #039
}
.Tag6 A:visited {
	COLOR: #039
}
.Tag6 A:active {
	COLOR: #039
}
#sidebar-a .SidebarTagCloud A:link {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; MARGIN: auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#sidebar-a .SidebarTagCloud A:active {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; MARGIN: auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#sidebar-a .SidebarTagCloud A:visited {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; MARGIN: auto; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#sidebar-a .SidebarTagCloud A:hover {
	BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
