BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.cleaner {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
#wrapper {
	MARGIN: 0px auto; WIDTH: 795px; POSITION: relative
}
#body {
	FLOAT: left; MARGIN: 0px auto; WIDTH: 795px; POSITION: relative; BACKGROUND-COLOR: #fff
}
#header {
	MARGIN: 0px 0px 50px; POSITION: relative; HEIGHT: 75px
}
#header .inside {
	MARGIN: 0px auto; WIDTH: 795px; POSITION: relative
}
#header #logo {
	MARGIN-TOP: 40px
}
#topLeader {
	PADDING-RIGHT: 15px; BORDER-TOP: #ccc 1px dotted; PADDING-LEFT: 15px; LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 0px auto; WIDTH: 795px; PADDING-TOP: 15px; BORDER-BOTTOM: #ccc 1px dotted; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #fff
}
#topLeaderHolder {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; MARGIN: 0px auto; WIDTH: 795px; PADDING-TOP: 15px; HEIGHT: 110px; BACKGROUND-COLOR: #fff
}
#about {
	RIGHT: 0px; WIDTH: 270px; POSITION: absolute; TOP: 0px
}
#ltcol {
	PADDING-RIGHT: 45px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 440px; PADDING-TOP: 0px; POSITION: relative
}
#rtcol {
	FLOAT: left; MARGIN-LEFT: 30px; WIDTH: 280px; POSITION: relative
}
#rtcol UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1.5em 10px 2px; PADDING-TOP: 0px
}
#footnotecontainer {
	PADDING-RIGHT: 0px; BORDER-TOP: #dfdfdf 1px solid; MARGIN-TOP: 3em; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 1em; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #fafafa
}
#footnoteinner {
	MARGIN: 0px auto; WIDTH: 795px
}
.footnote {
	FLOAT: left; WIDTH: 250px; MARGIN-RIGHT: 15px
}
.wide {
	WIDTH: 500px
}
.footnote DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sueme {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; MARGIN: 1em auto; WIDTH: 795px; PADDING-TOP: 15px
}
.twocol {
	FLOAT: left; WIDTH: 49%
}
.rel {
	POSITION: relative
}
.ahem {
	DISPLAY: none
}
DIV.menu {
	CLEAR: both
}
A.noborder {
	BORDER-BOTTOM-STYLE: none! important
}
