* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 16px 0px 10px;
	background: url('images/background.jpg') #5f92d2 repeat-x 0% 0%;
	color: #fff;
	font-family: tahoma, arial, sans-serif;
	font-size: 10px;
	text-align: center;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #bfd8f6;
}

span {
	display: none;
}

img {
	border: none;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

p {
	margin: 10px 0px 5px;
	text-align: justify;
	line-height: 14px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
}

input {
	padding-left: 2px;
	background-color: #eff3f7;
	border: 2px solid #eff3f7;
	color: #537caf;
	font-family: tahoma, arial, sans-serif;
	font-size: 10px;
}



#container {
	margin: 0px auto;
	width: 768px;
}


/* Page Header */

#header_container {
	margin-bottom: 12px;
	border: 1px solid #fff;
	background: url('images/header_background.jpg') repeat-x 0px 0px;
}

#page_header {
	width: 766px;
	height: 187px;
	background: url('images/header_image.jpg') no-repeat 10px 20px;
	overflow: hidden;
}


/* Page Header : Company Name & Logo */

#header_company {
	margin-top: 20px;
	width: 585px;
	height: 35px;
	float: left;
	background: url('images/company_logo.gif') no-repeat 137px 0px;
	text-align: left;
}

#header_company h1 {
	background: url('images/company_name.gif') no-repeat 160px 0px;
	width: 585px;
	height: 35px;
}


/* Page Header : Welcome Note */

#header_welcome {
	padding-left: 142px;
	float: left;
	text-align: justify;
}

#header_welcome h3 {
	padding: 3px 0px 0px;
	font-size: 14px;
}

#header_welcome p {
	margin-top: 7px;
}

#header_welcome #welcome_text {
	width: 447px;
}

/* Page Header : Menu */

#header_menu {
	padding-top: 35px;
	padding-right: 29px;
	float: right;
}

#header_menu li {
	margin-bottom: 2px;
	width: 116px;
	border: 1px solid #dee8f5;
	text-align: left;
	clear: both;
	float: none;
}

#header_menu li a {
	display: block;
	width: 116px;
	height: 20px;
	color: #e3ecf8;
	background-color: #3d6290;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	line-height: 10px;
}

#header_menu li a span {
	display: block;
	padding-top: 4px;
	padding-left: 31px;
}

#header_menu li a:hover {
	color: #fff;
	background-color: #2e4a6c;
}


/* Left Sidebar */

#left_sidebar {
	width: 178px;
	float: left;
}

#left_sidebar .box_container {
	margin-bottom: 11px;
	border: 1px solid #fff;
	background-color: #537caf;
}


/* Left Sidebar : User Login */

#userlogin {
	padding: 7px 8px 11px 12px;
	color: #f1f5f9;
	font-weight: bold;
	text-align: left;
}

#userlogin h2 {
	width: 69px;
	height: 15px;
	background: url('images/userlogin_title.gif') no-repeat -2px 0px;
}

#userlogin form {
	padding-top: 5px;
}

#userlogin .form_field {
	padding-left: 1px;
	padding-top: 7px;
	width: 155px;
	float: none;
	clear: both;
	text-align: right;
}

#userlogin form strong {
	padding-top: 1px;
	display: block;
	width: 50px;
	height: 13px;
	float: left;
	text-align: left;
}

#userlogin form input {
	width: 93px;
	float: right;
}

#userlogin form input.button {
	padding: 0px;
	width: 55px;
	height: 15px;
	border: none;
	float: none;
}

#userlogin #link-password {
	padding-top: 5px;
}

#userlogin #link-password a {
	color: #eef3f9;
}

#userlogin #link-password a:hover {
	color: #bfd8f6;
}


/* Left Sidebar : Latest News */

#news {
	padding: 10px 17px 10px 12px;
	text-align: left;
}

#news h2 {
	width: 76px;
	height: 19px;
	background: url('images/news_title.gif') no-repeat 0px 0px;
}

#news h4 {
	padding-top: 6px;
	font-size: 10px;	
	font-weight: bold;
}

#news p {
	margin-top: 5px;
	margin-bottom: 6px;
	line-height: 12px;
}

#news .link-more {
	text-align: right;
	font-weight: bold;
}


/* Main Content */

#maincontent_container {
	border-top : 1px solid #d5dfec;
	border-left : 1px solid #d5dfec;
	float: right;
	text-align: left;
}

#maincontent {
	margin: 7px 0px 0px 16px;
	width: 561px;
}

#maincontent_top {
	margin-bottom: 11px;
	width: 561px;
	background: url('images/maincontent_verticaldiv.gif') repeat-y 310px 5px;
}


/* How We Started */

#started_container {
	width: 313px;
	float: left;
}

#started {
	padding-top: 2px;
	width: 294px;
}

#started h2 {
	width: 96px;
	height: 14px;
	background: url('images/started_title.gif') no-repeat 0px 0px;
}


/* Repairing */

#right_container {
	width: 247px;
	float: left;
	text-align: left;
}

#repairing {
	margin-left: auto;
	margin-right: 1px;
	padding-bottom: 5px;
	width: 231px;
	float: right;
}

#repairing h2 {
	width: 125px;
	height: 19px;
	background: url('images/repairing_title.gif') no-repeat 0px 4px;
}

#repairing p {
	margin-top: 6px;
}


/* Get Special Offer */

#offer_container {
	margin-left: auto;
	border: 1px solid #fff;
	background-color: #436da1;
	float: right;
}

#offer {
	margin: 5px 17px 4px 10px;
	width: 205px;
}

#offer h2 {
	width: 120px;
	height: 22px;
	background: url('images/offer_title.gif') no-repeat -1px 0px;
}

#offer p {
	margin-top: 1px;
}

#offer .link-go {
	text-align: right;
}

#offer .link-go a {
	margin-left: auto;
	display: block;
	width: 34px;
	height: 13px;
	background: url('images/offer_go.gif') no-repeat 0px 0px;
}


/* Featured Products */

#featured_container {
	border: 1px solid #fff;
	background-color: #537caf;
	float: left;
}

#featured {
	margin: 9px 30px;
	width: 498px;
}

#featured h2 {
	width: 111px;
	height: 20px;
	background: url('images/featured_title.gif') no-repeat 0px 0px;
}

#featured_products ul {
	padding-bottom: 2px;
	width: 498px;
}

#featured_products li {
	margin: 6px 21px 10px 1px;
	float: left;
}

#featured_products li.end {
	margin-right: 0px;
}

#featured_products li a {
	display: block;
	width: 107px;
	height: 84px;
	background-color: #fff;
	overflow: hidden;
}

#featured_products li a img {
	margin: 1px;
}

#featured_products li h4 {
	padding-top: 3px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

.featured_nav {
	padding-left: 3px;
	padding-right: 9px;
	float: left;
	font-weight: bold;
}

.featured_nav a {
	text-decoration: none;
}

#featured .link-more {
	padding-right: 3px;
	font-weight: bold;
	float: right;
}


/* Page Footer */

#page_footer {
	margin: 5px;
	width: 567px;
	float: right;
	text-align: center;
	font-size: 11px;
}