<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ComponentDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ironspeed.com/designer">
  <Generator>Iron Speed Designer</Generator>
  <Version>5.0</Version>
  <Self>
    <Name>Menu</Name>
    <Type>Menu</Type>
    <GenerateDirectory>Menu Panels</GenerateDirectory>
    <Layout>Menu Panels\Menu.html</Layout>
    <DisplayName>Menu</DisplayName>
    <Description>(Description)</Description>
    <CheckSum>-316851403-2215</CheckSum>
  </Self>
  <ComposedOf>
    <ContainedComponent>
      <Name>MeasureMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Measure/ShowMeasureTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Measure</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>MeasureMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Measure/ShowMeasureTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Measure</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>MeasureRoleDetailMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../MeasureRoleDetail/ShowMeasureRoleDetailTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Measure Role Detail</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>MeasureRoleDetailMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../MeasureRoleDetail/ShowMeasureRoleDetailTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Measure Role Detail</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>MeasureTypeMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../MeasureType/ShowMeasureTypeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Measure Type</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>MeasureTypeMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../MeasureType/ShowMeasureTypeTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Measure Type</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>MonthMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Month/ShowMonthTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Month</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>MonthMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Month/ShowMonthTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Month</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>ObjectiveMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Objective/ShowObjectiveTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Objective</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>ObjectiveMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Objective/ShowObjectiveTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Objective</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>PerspectiveMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Perspective/ShowPerspectiveTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Perspective</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>PerspectiveMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Perspective/ShowPerspectiveTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Perspective</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>RoleMeasureMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../RoleMeasure/ShowRoleMeasureTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Role Measure</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>RoleMeasureMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../RoleMeasure/ShowRoleMeasureTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Role Measure</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>YearMenuItem</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Year/ShowYearTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Year</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
    <ContainedComponent>
      <Name>YearMenuItemHilited</Name>
      <Type>Button</Type>
      <Layout>..\Shared\Menu_Item_Highlighted.html</Layout>
      <PassthroughAttributes>
        <Attribute>
          <Name>Button-CausesValidation</Name>
          <Value>False</Value>
        </Attribute>
        <Attribute>
          <Name>Button-CommandName</Name>
          <Value>Redirect</Value>
        </Attribute>
        <Attribute>
          <Name>Button-RedirectURL</Name>
          <Value>../Year/ShowYearTablePage.aspx</Value>
        </Attribute>
        <Attribute>
          <Name>Button-Text</Name>
          <Value>Year</Value>
        </Attribute>
        <Attribute>
          <Name>Visible</Name>
          <Value>False</Value>
        </Attribute>
      </PassthroughAttributes>
    </ContainedComponent>
  </ComposedOf>
</ComponentDefinition>