BODY {
	FONT-SIZE: 16px; BACKGROUND: #cbdea8; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
TD TABLE {
	MARGIN-LEFT: 20px
}
LABEL {
	FONT-WEIGHT: bold
}
FORM {
	MARGIN: 0px
}
TEXTAREA {
	WIDTH: 100%
}
INPUT {
	COLOR: #aaa
}
#container {
	MARGIN-LEFT: auto; WIDTH: 800px; MARGIN-RIGHT: auto
}
#logo {
	MARGIN: 10px 10px 30px
}
#preview {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.roundedcornr_box_571365 {
	BACKGROUND: url(images/roundedcornr_571365_tl.png) no-repeat left top
}
.roundedcornr_top_571365 {
	BACKGROUND: url(images/roundedcornr_571365_tr.png) no-repeat right top
}
.roundedcornr_bottom_571365 {
	BACKGROUND: url(images/roundedcornr_571365_bl.png) no-repeat left bottom
}
.roundedcornr_bottom_571365 DIV {
	BACKGROUND: url(images/roundedcornr_571365_br.png) no-repeat right bottom
}
.roundedcornr_content_571365 {
	BACKGROUND: url(images/roundedcornr_571365_r.png) repeat-y right top
}
.roundedcornr_top_571365 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_top_571365 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_bottom_571365 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_bottom_571365 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_content_571365 {
	MARGIN-TOP: -19px
}
.roundedcornr_bottom_571365 {
	MARGIN-TOP: -19px
}
.roundedcornr_content_571365 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#rc1 {
	WIDTH: 600px; COLOR: #440
}
#rc1 H2 {
	MARGIN-TOP: 0px
}
#rc1 TABLE {
	FLOAT: right; MARGIN-LEFT: 10px
}
#rc1 TH {
	PADDING-LEFT: 10px; BACKGROUND: url(images/roundedcornr_596710.gif) no-repeat left top; COLOR: #ff8
}
.roundedcornr_box_498750 {
	BACKGROUND: #aaaa55
}
.roundedcornr_top_498750 DIV {
	BACKGROUND: url(images/roundedcornr_498750_tl.png) no-repeat left top
}
.roundedcornr_top_498750 {
	BACKGROUND: url(images/roundedcornr_498750_tr.png) no-repeat right top
}
.roundedcornr_bottom_498750 DIV {
	BACKGROUND: url(images/roundedcornr_498750_bl.png) no-repeat left bottom
}
.roundedcornr_bottom_498750 {
	BACKGROUND: url(images/roundedcornr_498750_br.png) no-repeat right bottom
}
.roundedcornr_top_498750 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_top_498750 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_498750 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_498750 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_content_498750 {
	MARGIN: 0px 15px; HEIGHT: 13em
}
#bookmarking {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#rc1_ad {
	FLOAT: right; WIDTH: 190px; COLOR: #440
}
#rc2_ad {
	WIDTH: 190px
}
#rc2 {
	FLOAT: right; WIDTH: 600px; COLOR: #431
}
#rc2 H2 {
	MARGIN-TOP: 0px; TEXT-ALIGN: center
}
#rc2 TD {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; BACKGROUND: url(images/roundedcornr_936882.gif) no-repeat center top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#rc2 TABLE INPUT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.roundedcornr_box_996468 {
	BACKGROUND: #7a6448
}
.roundedcornr_top_996468 DIV {
	BACKGROUND: url(images/roundedcornr_996468_tl.png) no-repeat left top
}
.roundedcornr_top_996468 {
	BACKGROUND: url(images/roundedcornr_996468_tr.png) no-repeat right top
}
.roundedcornr_bottom_996468 DIV {
	BACKGROUND: url(images/roundedcornr_996468_bl.png) no-repeat left bottom
}
.roundedcornr_bottom_996468 {
	BACKGROUND: url(images/roundedcornr_996468_br.png) no-repeat right bottom
}
.roundedcornr_top_996468 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_top_996468 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_996468 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_996468 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_content_996468 {
	MARGIN: 0px 5px; HEIGHT: 18em
}
.roundedcornr_box_936517 {
	BACKGROUND: url(images/roundedcornr_936517_grad.gif) #cbdea8 no-repeat
}
.roundedcornr_top_936517 DIV {
	BACKGROUND: url(images/roundedcornr_936517_tl.gif) no-repeat left top
}
.roundedcornr_top_936517 {
	BACKGROUND: url(images/roundedcornr_936517_tr.gif) no-repeat right top
}
.roundedcornr_bottom_936517 DIV {
	BACKGROUND: url(images/roundedcornr_936517_bl.gif) no-repeat left bottom
}
.roundedcornr_bottom_936517 {
	BACKGROUND: url(images/roundedcornr_936517_br.gif) no-repeat right bottom
}
.roundedcornr_top_936517 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_top_936517 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_936517 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_936517 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_content_936517 {
	MARGIN: 0px 11px; HEIGHT: 18em
}
#rc5 {
	WIDTH: 600px
}
#rc5 H2 {
	MARGIN: 19px 0px
}
#rc5_ad {
	FLOAT: right; WIDTH: 190px
}
.roundedcornr_box_448617 {
	BACKGROUND: url(images/roundedcornr_448617_tl.png) no-repeat left top
}
.roundedcornr_top_448617 {
	BACKGROUND: url(images/roundedcornr_448617_tr.png) no-repeat right top
}
.roundedcornr_bottom_448617 {
	BACKGROUND: url(images/roundedcornr_448617_bl.png) no-repeat left bottom
}
.roundedcornr_bottom_448617 DIV {
	BACKGROUND: url(images/roundedcornr_448617_br.png) no-repeat right bottom
}
.roundedcornr_content_448617 {
	BACKGROUND: url(images/roundedcornr_448617_r.png) repeat-y right top
}
.roundedcornr_top_448617 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_top_448617 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_448617 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_448617 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_content_448617 {
	MARGIN-TOP: -19px
}
#rc5_ad .roundedcornr_bottom_448617 {
	MARGIN-TOP: -19px
}
.roundedcornr_content_448617 {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.roundedcornr_box_375136 {
	BACKGROUND: url(images/roundedcornr_375136_tl.png) no-repeat left top; FLOAT: right; WIDTH: 45%
}
.roundedcornr_top_375136 {
	BACKGROUND: url(images/roundedcornr_375136_tr.png) no-repeat right top
}
.roundedcornr_bottom_375136 {
	BACKGROUND: url(images/roundedcornr_375136_bl.png) no-repeat left bottom
}
.roundedcornr_bottom_375136 DIV {
	BACKGROUND: url(images/roundedcornr_375136_br.png) no-repeat right bottom
}
.roundedcornr_content_375136 {
	BACKGROUND: url(images/roundedcornr_375136_r.png) repeat-y right top
}
.roundedcornr_top_375136 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_top_375136 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_bottom_375136 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_bottom_375136 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_content_375136 {
	MARGIN-TOP: -19px
}
.roundedcornr_bottom_375136 {
	MARGIN-TOP: -19px
}
.roundedcornr_content_375136 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#rc4 {
	FLOAT: right; WIDTH: 600px; COLOR: #542
}
#rc4 H2 {
	MARGIN: 0px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#rc4 IMG {
	MARGIN: 5px 0px; align: center
}
#rc4_ad {
	WIDTH: 190px
}
.roundedcornr_box_435489 {
	BACKGROUND: #cdb28a
}
.roundedcornr_top_435489 DIV {
	BACKGROUND: url(images/roundedcornr_435489_tl.png) no-repeat left top
}
.roundedcornr_top_435489 {
	BACKGROUND: url(images/roundedcornr_435489_tr.png) no-repeat right top
}
.roundedcornr_bottom_435489 DIV {
	BACKGROUND: url(images/roundedcornr_435489_bl.png) no-repeat left bottom
}
.roundedcornr_bottom_435489 {
	BACKGROUND: url(images/roundedcornr_435489_br.png) no-repeat right bottom
}
.roundedcornr_top_435489 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_top_435489 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_435489 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_bottom_435489 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 30px
}
.roundedcornr_content_435489 {
	MARGIN: 0px 15px; HEIGHT: 55em
}
.roundedcornr_box_169415 {
	BACKGROUND: #cbdea8; FLOAT: right; WIDTH: 170px
}
.roundedcornr_top_169415 DIV {
	BACKGROUND: url(images/roundedcornr_169415_tl.png) no-repeat left top
}
.roundedcornr_top_169415 {
	BACKGROUND: url(images/roundedcornr_169415_tr.png) no-repeat right top
}
.roundedcornr_bottom_169415 DIV {
	BACKGROUND: url(images/roundedcornr_169415_bl.png) no-repeat left bottom
}
.roundedcornr_bottom_169415 {
	BACKGROUND: url(images/roundedcornr_169415_br.png) no-repeat right bottom
}
.roundedcornr_top_169415 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_top_169415 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_bottom_169415 DIV {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_bottom_169415 {
	FONT-SIZE: 1px; WIDTH: 100%; HEIGHT: 15px
}
.roundedcornr_content_169415 {
	MARGIN: 0px 15px
}
.roundedcornr_box_570225 {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 15px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 15px; BACKGROUND: url(images/roundedcornr_570225_grad.png) #ffffff repeat-x; PADDING-BOTTOM: 15px; BORDER-LEFT: #fff 2px solid; COLOR: #008; PADDING-TOP: 15px; BORDER-BOTTOM: #fff 2px solid
}
