BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 9px; MARGIN: 0px auto; FONT: 0.67em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #333; PADDING-TOP: 9px
}
TABLE TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV {
	DISPLAY: block
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #f60; TEXT-DECORATION: none; outline: none
}
A:hover {
	COLOR: #36c; BORDER-BOTTOM: #36c 1px dotted; TEXT-DECORATION: none; outline: none
}
A.mmhide_ArrowLink {
	FONT-WEIGHT: 400! important; FONT-SIZE: 9px! important; TEXT-TRANSFORM: uppercase; COLOR: #f60
}
UNKNOWN {
	FONT-WEIGHT: 700! important; FONT-SIZE: 8px! important
}
 HTML A.mmhide_ArrowLink {
	FONT-WEIGHT: 700! important; FONT-SIZE: 8px! important
}
A.mmhide_ArrowLink:hover {
	COLOR: #36c
}
#mainbody_content A {
	COLOR: #f60; TEXT-DECORATION: none
}
#mainbody_content A:hover {
	COLOR: #36c! important; BORDER-BOTTOM: #36c 1px dotted; TEXT-DECORATION: none
}
#mainbody_content A:visited {
	COLOR: #f60; TEXT-DECORATION: none
}
#mainbody_content A:visited {
	COLOR: #f60
}
#mainbody_content H2 A.mmhide_ArrowLink {
	FONT-WEIGHT: 400; FONT-SIZE: 9px! important; BORDER-BOTTOM-WIDTH: 0px; TEXT-TRANSFORM: uppercase; COLOR: #f60! important
}
UNKNOWN {
	FONT-WEIGHT: 700! important; FONT-SIZE: 9px! important
}
 HTML #mainbody_content H2 A.mmhide_ArrowLink {
	FONT-WEIGHT: 700! important; FONT-SIZE: 9px! important
}
#mainbody_content H2 A.mmhide_ArrowLink:hover {
	COLOR: #36c! important; BORDER-BOTTOM: #36c 1px dotted
}
.mmhide_ArrowLink SPAN {
	FONT-SIZE: 1.2em! important; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif! important
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 14px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	MARGIN-TOP: 0px; FONT: 400 24px Arial, Helvetica, sans-serif; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dotted
}
UNKNOWN {
	FONT-WEIGHT: 700
}
 HTML H1 {
	FONT-WEIGHT: 700
}
H1 IMG {
	FLOAT: left; MARGIN: 0px 12px 12px 0px; POSITION: relative
}
H1.mmhide_noh1_img {
	PADDING-BOTTOM: 13px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; FONT: 18px Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
H3 {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 5px; FONT: 700 1.25em Arial, Helvetica, sans-serif
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 700 0.85em Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 12px 0px 0px; FONT: 700 9px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #999; PADDING-TOP: 0px; LETTER-SPACING: 1px
}
TABLE.mmhide_color_table {
	BACKGROUND: #d1dfe9; WIDTH: 100%
}
TH {
	FONT-WEIGHT: 400; FONT-SIZE: 0.85em; BACKGROUND: #fff; TEXT-TRANSFORM: uppercase; TEXT-ALIGN: left
}
TABLE.mmhide_color_table TR.mmhide_tr_color2 TD {
	BACKGROUND: #e5eaee
}
TD {
	FONT-WEIGHT: 400; FONT-SIZE: 0.9em; TEXT-ALIGN: left
}
#master_wrapper {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 800px; PADDING-TOP: 0px
}
 HTML #master_wrapper {
	
}
#header {
	MARGIN: 0px; min-width: 760px; max-width: 950px
}
#logo {
	LEFT: 0px; FLOAT: left; MARGIN: 5px 0px; WIDTH: 326px; POSITION: relative; HEIGHT: 41px
}
#logo A {
	DISPLAY: block; BACKGROUND: url(../img/logo_marketmetrix.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px! important; OVERFLOW: hidden; WIDTH: 326px; HEIGHT: 41px
}
OL#utility_nav_tabs {
	RIGHT: 0px; FLOAT: right; MARGIN: 0px auto; WIDTH: 250px; LIST-STYLE-TYPE: none; POSITION: relative; TOP: 0px; HEIGHT: 41px; TEXT-ALIGN: right
}
OL#utility_nav_tabs LI {
	DISPLAY: block; MARGIN: 0px; LINE-HEIGHT: 1.5em; POSITION: relative; TEXT-ALIGN: right
}
OL#utility_nav_tabs LI#un_1 {
	RIGHT: 5px
}
OL#utility_nav_tabs LI#un_2 {
	RIGHT: 0px; POSITION: absolute; TOP: 31px
}
OL#utility_nav_tabs LI#un_2 A:hover {
	BORDER-BOTTOM-WIDTH: 0px
}
#main_nav {
	CLEAR: both; Z-INDEX: 100; BACKGROUND: url(../img/mn_mid.jpg) #0f8ad9; LEFT: 0px; MARGIN: 0px auto; WIDTH: 800px; POSITION: relative; TOP: 0px; HEIGHT: 27px; TEXT-ALIGN: center
}
.mmhide_navarrow {
	BACKGROUND: url(../img/navarrow.gif) no-repeat center 50%
}
OL#main_nav_tabs {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 720px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; POSITION: relative; HEIGHT: 27px
}
 HTML OL#main_nav_tabs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 60px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
OL#main_nav_tabs LI {
	DISPLAY: block; FLOAT: left; MARGIN: 0px; WIDTH: auto; LINE-HEIGHT: 1.2em; POSITION: relative; HEIGHT: 27px; TEXT-ALIGN: center
}
OL#main_nav_tabs LI#mn_div_first {
	
}
#tab_lt {
	DISPLAY: block; BACKGROUND: url(../img/mn_lt.jpg) no-repeat; LEFT: 0px; OVERFLOW: hidden; WIDTH: 7px; POSITION: absolute; HEIGHT: 27px
}
#tab_rt {
	DISPLAY: block; RIGHT: 0px; BACKGROUND: url(../img/mn_rt.jpg) no-repeat; OVERFLOW: hidden; WIDTH: 7px; POSITION: absolute; HEIGHT: 27px
}
OL#main_nav_tabs LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 400 12px Arial, Verdana, Sans-serif; OVERFLOW: hidden; WIDTH: 90px; COLOR: #fff; PADDING-TOP: 5px; HEIGHT: 20px; TEXT-ALIGN: center
}
 HTML OL#main_nav_tabs LI A {
	WIDTH: 85px
}
OL#main_nav_tabs LI A.mmhide_tab_on {
	BACKGROUND: url(../img/mn_mid_on.jpg) repeat-x; BORDER-BOTTOM-WIDTH: 0px! important
}
OL#main_nav_tabs LI A:hover {
	BACKGROUND: url(../img/mn_mid_on.jpg) repeat-x; BORDER-BOTTOM-WIDTH: 0px! important
}
OL#main_nav_tabs LI:hover {
	BACKGROUND: url(../img/mn_mid_on.jpg) repeat-x
}
OL#main_nav_tabs LI.mmhide_mn_div {
	BACKGROUND: url(../img/mn_div.gif) no-repeat; OVERFLOW: hidden; WIDTH: 2px; HEIGHT: 27px
}
OL#main_nav_tabs LI OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 99; BACKGROUND: #c7e3ff; LEFT: -999em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 175px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 27px; HEIGHT: auto
}
UNKNOWN {
	WIDTH: 170px
}
 HTML OL#main_nav_tabs LI OL {
	MARGIN-LEFT: 0px
}
OL#main_nav_tabs LI OL LI {
	BORDER-RIGHT: #c6d9e5 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #c6d9e5 1px solid; WIDTH: 175px; PADDING-TOP: 0px; BORDER-BOTTOM: #c6d9e5 1px solid; POSITION: relative; HEIGHT: 27px; TEXT-ALIGN: left
}
UNKNOWN {
	WIDTH: 170px
}
OL#main_nav_tabs LI OL LI A {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 22px; FONT-WEIGHT: 400; BACKGROUND: #d9e5ed; PADDING-BOTTOM: 7px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 150px; COLOR: #369; PADDING-TOP: 7px; FONT-FAMILY: 13px Arial, Verdana, Sans-serif! important; HEIGHT: 27px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
UNKNOWN {
	PADDING-RIGHT: 4px; PADDING-LEFT: 32px; PADDING-BOTTOM: 7px; WIDTH: 150px; PADDING-TOP: 7px
}
 HTML OL#main_nav_tabs LI OL LI A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 27px; PADDING-BOTTOM: 7px; WIDTH: 150px; PADDING-TOP: 7px
}
OL#main_nav_tabs LI OL LI A:hover {
	BACKGROUND-IMAGE: none! important; COLOR: #fff! important; BACKGROUND-COLOR: #004a88! important; TEXT-DECORATION: none
}
OL#main_nav_tabs LI:hover OL OL {
	LEFT: -999em
}
OL#main_nav_tabs LI:hover OL OL OL {
	LEFT: -999em
}
OL#main_nav_tabs LI.mmhide_sfhover OL OL {
	LEFT: -999em
}
OL#main_nav_tabs LI.mmhide_sfhover OL OL OL {
	LEFT: -999em
}
OL#main_nav_tabs LI:hover OL {
	LEFT: auto
}
OL#main_nav_tabs LI LI:hover OL {
	LEFT: auto
}
OL#main_nav_tabs LI LI LI:hover OL {
	LEFT: auto
}
OL#main_nav_tabs LI.mmhide_sfhover OL {
	LEFT: auto
}
OL#main_nav_tabs LI LI.mmhide_sfhover OL {
	LEFT: auto
}
OL#main_nav_tabs LI LI LI.mmhide_sfhover OL {
	LEFT: auto
}
.mmhide_left {
	FLOAT: left
}
.mmhide_right {
	FLOAT: right
}
.mmhide_right IMG A:hover {
	BORDER-RIGHT: #333333 2px solid; BORDER-TOP: #333333 2px solid; BORDER-LEFT: #333333 2px solid; BORDER-BOTTOM: #333333 2px solid
}
#content_wrapper {
	Z-INDEX: 50; MARGIN: 24px auto 0px; min-width: 720px; max-width: 950px
}
.mmhide_splitwidth {
	
}
.mmhide_three_cols {
	
}
.mmhide_three_cols .mmhide_left {
	PADDING-RIGHT: 20px; WIDTH: 150px! important
}
.mmhide_three_cols .mmhide_right {
	WIDTH: 165px! important; LINE-HEIGHT: 1.4em
}
#sidebar A {
	COLOR: #36c
}
#footer_wrapper A {
	COLOR: #36c
}
#sidebar A SPAN {
	COLOR: #6699ff
}
#sidebar A:hover {
	COLOR: #f60! important; BORDER-BOTTOM: #f60 1px dotted
}
#sidebar A:hover SPAN {
	COLOR: #f60! important; BORDER-BOTTOM: #f60 1px dotted
}
#footer_wrapper A:hover {
	COLOR: #f60! important; BORDER-BOTTOM: #f60 1px dotted
}
#footer_wrapper A:visited {
	COLOR: #36c
}
.mmhide_sb_box_wrapper {
	BORDER-RIGHT: #ff6500 1px solid; BORDER-TOP: #ff6500 1px solid; BORDER-LEFT: #ff6500 1px solid; BORDER-BOTTOM: #ff6500 1px solid
}
.mmhide_sb_box_hdr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: 700; FONT-SIZE: 0.85em; PADDING-BOTTOM: 8px; TEXT-TRANSFORM: uppercase; LINE-HEIGHT: 100%; PADDING-TOP: 8px; POSITION: relative
}
UNKNOWN {
	PADDING-BOTTOM: 12px! important
}
 HTML .mmhide_sb_box_hdr {
	PADDING-BOTTOM: 12px! important; WIDTH: 143px
}
.mmhide_orange {
	BACKGROUND: #f60; COLOR: #fff; LETTER-SPACING: 1px
}
.mmhide_orange_corner {
	DISPLAY: block; RIGHT: -1px; BACKGROUND: url(../img/orange_toprt_corner.gif); OVERFLOW: hidden; WIDTH: 8px; POSITION: absolute; TOP: -1px; HEIGHT: 7px
}
UNKNOWN {
	TOP: 1px
}
 HTML .mmhide_orange_corner {
	RIGHT: -2px; TOP: -1px
}
.mmhide_sb_box {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2%; PADDING-LEFT: 2%; BACKGROUND: #ececec; PADDING-BOTTOM: 8px; WIDTH: 96%; PADDING-TOP: 8px
}
UNKNOWN {
	MARGIN-TOP: -2px
}
 HTML .mmhide_sb_box {
	MARGIN-TOP: -2px
}
.mmhide_three_cols #mainbody_content {
	FLOAT: left; POSITION: relative
}
.mmhide_hdr_div {
	FONT-WEIGHT: 400! important; FONT-SIZE: 11px! important; MARGIN: 0px 3px; COLOR: #ccc! important
}
#mainbody_content UL {
	MARGIN-TOP: -5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#mainbody_content UL LI {
	MARGIN-BOTTOM: 5px
}
#subnav OL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative
}
#subnav OL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dotted
}
#subnav OL LI#home {
	MARGIN-TOP: -4px
}
#subnav OL LI#home A {
	MARGIN-TOP: 0px
}
 HTML #subnav OL LI {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #ccc 1px dotted
}
#subnav OL LI OL LI {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 1px 0px 1px 15px; BORDER-RIGHT-WIDTH: 0px
}
#subnav LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; COLOR: #f60; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
#subnav LI A .mmhide_on {
	COLOR: #333
}
#subnav LI A .mmhide_on A:hover {
	COLOR: #36c
}
#subnav LI A:hover {
	BORDER-BOTTOM: #fff 1px solid
}
UNKNOWN {
	LINE-HEIGHT: 1em
}
 HTML #subnav LI A {
	LINE-HEIGHT: 1em
}
 HTML #subnav OL LI OL LI {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
#subnav OL LI#home A {
	FONT-WEIGHT: 700; TEXT-TRANSFORM: uppercase; COLOR: #666; LETTER-SPACING: 0.09em
}
#subnav LI#subnav_parent A {
	PADDING-BOTTOM: 0px; COLOR: #333
}
#subnav LI#subnav_parent A {
	PADDING-BOTTOM: 0px; COLOR: #f60
}
#subnav LI#subnav_parent OL LI A {
	DISPLAY: block; FONT-SIZE: 0.9em; MARGIN: 4px 0px 4px 10px; COLOR: #f60
}
#subnav LI#subnav_parent OL LI#subnav_child_on A {
	COLOR: #333! important
}
#subnav LI A:hover {
	COLOR: #36c! important; BORDER-BOTTOM: #36c 1px dotted
}
OL#right_nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 220px; PADDING-TOP: 0px; BORDER-BOTTOM: #bfc8c3 1px solid; LIST-STYLE-TYPE: none
}
.mmhide_clear {
	CLEAR: both; MARGIN-TOP: 0px; DISPLAY: block; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 0px
}
.mmhide_imglink {
	BORDER-BOTTOM-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.mmhide_imglink IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
UNKNOWN {
	PADDING-RIGHT: 0px; MARGIN-TOP: -2px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A#privacypolicy_link {
	WIDTH: 58px; WHITE-SPACE: nowrap
}
UNKNOWN {
	WIDTH: 72px
}
.mmhide_divider {
	BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 11px; OVERFLOW: hidden; PADDING-TOP: 12px; HEIGHT: 0px
}
.mmhide_sb_textfield {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a9a9a9 1px solid; MARGIN-TOP: 4px; PADDING-LEFT: 0px; BACKGROUND: #e8e7e7; PADDING-BOTTOM: 4px; BORDER-LEFT: #a9a9a9 1px solid; WIDTH: 104px; COLOR: #666; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
.mmhide_sb_textfield_wide {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a9a9a9 1px solid; MARGIN-TOP: 4px; PADDING-LEFT: 0px; BACKGROUND: #e8e7e7; PADDING-BOTTOM: 4px; BORDER-LEFT: #a9a9a9 1px solid; WIDTH: 250px; COLOR: #666; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
#sidebar .mmhide_button1 {
	BORDER-RIGHT: #000b40 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/mn_mid.jpg) #0f8ad9; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: 400 10px Arial, Verdana, Sans-serif; OVERFLOW: hidden; COLOR: #fff! important; PADDING-TOP: 4px; BORDER-BOTTOM: #000b40 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none! important; min-width: 50px; max-width: 70px; text-shadow: #333 2px 2px 3px
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; POSITION: relative; TOP: -4px
}
 HTML #sidebar .mmhide_button1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; POSITION: relative; TOP: -4px; text-shadow: 0 0 0
}
#sidebar .mmhide_button1 SPAN {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff! important; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px! important
}
 HTML #sidebar .mmhide_button1 SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; text-shadow: 0 0 0
}
#sidebar A.mmhide_button1:hover {
	BACKGROUND: url(../img/mn_mid_on.jpg) repeat-x; COLOR: #fff! important; BORDER-BOTTOM: #000b40 1px solid
}
#sidebar A.mmhide_button1:hover SPAN {
	BACKGROUND: url(../img/mn_mid_on.jpg) repeat-x; BORDER-BOTTOM-WIDTH: 0px! important; COLOR: #fff! important
}
#sidebar .mmhide_button1 SPAN:hover {
	
}
.mmhide_text_small {
	FONT-SIZE: 0.85em
}
#footer_wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 30px; COLOR: #999; PADDING-TOP: 35px; POSITION: relative; TEXT-ALIGN: center; min-width: 720px; max-width: 950px
}
#footer_wrapper P {
	PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #ddd 1px solid
}
.mmhide_ftr_div {
	MARGIN: 0px 8px; COLOR: #999
}
.box {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #505050; LINE-HEIGHT: 1.5em; PADDING-TOP: 10px; BORDER-BOTTOM: #c0c0c0 1px solid; BACKGROUND-COLOR: #fafbfc
}
#box {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #505050; LINE-HEIGHT: 1.5em; PADDING-TOP: 10px; BORDER-BOTTOM: #c0c0c0 1px solid; BACKGROUND-COLOR: #fafbfc
}
TABLE {
	MARGIN: 0px 0px 10px; WIDTH: auto; COLOR: #333333; BORDER-BOTTOM: #c4d8e7 1px solid
}
TABLE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 8px; FONT-SIZE: 9px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 1.7em; PADDING-TOP: 3px; BACKGROUND-COLOR: #c4d8e7
}
.smalltext {
	FONT-SIZE: 0.85em
}
.center {
	TEXT-ALIGN: center
}
.downloadPDF {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: left top; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(../img/icon_pdf.gif); PADDING-BOTTOM: 5px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.mmhide_tablenoborder {
	BORDER-BOTTOM-WIDTH: 0px
}
.red {
	COLOR: red
}
A.ArrowLink {
	FONT-WEIGHT: 400! important; FONT-SIZE: 9px! important; TEXT-TRANSFORM: uppercase; COLOR: #f60
}
.mmhide_searchbutton1 {
	BORDER-RIGHT: #000b40 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/mn_mid.jpg) #0f8ad9; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: 400 10px Arial, Verdana, Sans-serif; OVERFLOW: hidden; COLOR: #fff! important; PADDING-TOP: 4px; BORDER-BOTTOM: #000b40 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none! important; min-width: 50px; max-width: 70px; text-shadow: #333 2px 2px 3px
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; POSITION: relative; TOP: -4px
}
 HTML .mmhide_searchbutton1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; POSITION: relative; TOP: -4px; text-shadow: 0 0 0
}
.mmhide_searchbutton1 SPAN {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BORDER-LEFT-WIDTH: 0px! important; BACKGROUND: url(../img/mn_mid.jpg) #0f8ad9; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff! important; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px! important
}
 HTML .mmhide_searchbutton1 SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/mn_mid.jpg) #0f8ad9; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; text-shadow: 0 0 0
}
.mmhide_searchbutton1:hover {
	BACKGROUND: url(../img/mn_mid_on.jpg) repeat-x; BORDER-BOTTOM: #000b40 1px solid
}
.mmhide_searchbutton1:hover SPAN {
	BACKGROUND: url(../img/mn_mid_on.jpg) repeat-x; BORDER-BOTTOM-WIDTH: 0px! important
}
.mmhide_searchbutton1 SPAN:hover {
	
}
A.mmhide_ArrowLinkbig {
	FONT-WEIGHT: 700! important; FONT-SIZE: 10px! important; TEXT-TRANSFORM: uppercase; COLOR: #f60
}
UNKNOWN {
	FONT-WEIGHT: 800! important; FONT-SIZE: 9px! important
}
 HTML A.mmhide_ArrowLinkbig {
	FONT-WEIGHT: 800! important; FONT-SIZE: 9px! important
}
A.mmhide_ArrowLinkbig:hover {
	COLOR: #36c
}
.superscript {
	FONT-SIZE: smaller; VERTICAL-ALIGN: baseline; BOTTOM: 0px; POSITION: relative
}
.mmhide_tablenoborder {
	MARGIN-BOTTOM: 0px; BORDER-BOTTOM-STYLE: none
}
