HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 100.01%/1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 100.01%/1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 100.01%/1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 100.01%/1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; PADDING-TOP: 0px
}
HTML {
	FONT-SIZE: 62.5%
}
HTML {
	FONT-SIZE: 86%
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
LI {
	MARGIN-LEFT: 1em
}
DD {
	MARGIN-LEFT: 1em
}
BLOCKQUOTE {
	MARGIN-LEFT: 1em
}
FORM LABEL {
	CURSOR: pointer
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TD {
	FONT-SIZE: 100%
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY {
	BACKGROUND: #111; COLOR: #000; HEIGHT: 100%; TEXT-ALIGN: center
}
.clear {
	CLEAR: both; MARGIN-TOP: -1px; FONT-SIZE: 1px; VISIBILITY: hidden; LINE-HEIGHT: 1px; HEIGHT: 1px
}
H1 {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; COLOR: #111; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #9c0 2px solid; FONT-FAMILY: "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif
}
H2 {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; COLOR: #111; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #9c0 2px solid; FONT-FAMILY: "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif
}
H3 {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; COLOR: #111; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #9c0 2px solid; FONT-FAMILY: "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif
}
H4 {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; COLOR: #111; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #9c0 2px solid; FONT-FAMILY: "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif
}
H5 {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; COLOR: #111; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #9c0 2px solid; FONT-FAMILY: "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif
}
H6 {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; COLOR: #111; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #9c0 2px solid; FONT-FAMILY: "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif
}
H4 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 1.3em; BORDER-RIGHT-WIDTH: 0px
}
H5 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 1.3em; BORDER-RIGHT-WIDTH: 0px
}
H6 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 1.3em; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	FONT-SIZE: 218%
}
H2 {
	FONT-SIZE: 164%
}
H3 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 145%; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
H4 {
	FONT-SIZE: 118%
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 86%
}
P {
	COLOR: #333
}
UL {
	COLOR: #333
}
OL {
	COLOR: #333
}
TD {
	COLOR: #333
}
.caption {
	FONT-SIZE: 86%; COLOR: #555
}
.note {
	FONT-SIZE: 86%; COLOR: #555
}
#shadow {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 0px solid; MARGIN: 0px auto; BORDER-LEFT: #333 1px solid; WIDTH: 779px; BORDER-BOTTOM: #333 1px solid; TEXT-ALIGN: left
}
#container {
	BORDER-RIGHT: #222 1px solid; BORDER-TOP: #222 0px solid; BORDER-LEFT: #222 1px solid; WIDTH: 775px; BORDER-BOTTOM: #222 1px solid; BACKGROUND-COLOR: #fff! important
}
#header {
	CLEAR: both; BACKGROUND: url(../images/greenzi/header.png) #000 no-repeat; HEIGHT: 90px
}
#content {
	PADDING-RIGHT: 25px; PADDING-LEFT: 35px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 485px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff! important
}
#right_col {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 210px; PADDING-TOP: 15px
}
#sidebar {
	BACKGROUND-COLOR: #fff! important
}
#footer {
	CLEAR: both; PADDING-RIGHT: 20px; BORDER-TOP: #9c0 2px solid; PADDING-LEFT: 35px; FONT-SIZE: 90%; BACKGROUND: url(../images/footer_bg.png) repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; COLOR: #999; PADDING-TOP: 0px
}
#skip {
	DISPLAY: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
P.intro {
	FONT-WEIGHT: bold
}
.blocktitle {
	BORDER-TOP-WIDTH: 2px; MARGIN-TOP: 0px; BORDER-LEFT-WIDTH: 2px; FONT-SIZE: 145%; BORDER-BOTTOM-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
abbr {
	BORDER-BOTTOM: #999 1px solid
}
abbr:hover {
	BORDER-BOTTOM-COLOR: #9c0; COLOR: #666
}
A {
	COLOR: #33c; TEXT-DECORATION: underline
}
A:link {
	COLOR: #33c; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #33c; TEXT-DECORATION: underline
}
A:active {
	BACKGROUND: #333; COLOR: #fff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #006; TEXT-DECORATION: none
}
#sidebar H2 {
	BACKGROUND: #fafafa
}
#sidebar H3 {
	BACKGROUND: #fafafa
}
#sidebar H3 {
	MARGIN-TOP: 1.2em
}
.topnav A {
	TEXT-DECORATION: none
}
UL.topnav {
	WIDTH: 210px
}
UL.topnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 6px; PADDING-TOP: 0px
}
UL.topav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 6px; PADDING-TOP: 0px
}
UL.topnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1.7em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.topnav UL {
	DISPLAY: none; MARGIN: 0px 0px 9px 20px
}
UL.topnav LI.here UL {
	DISPLAY: block
}
UL.topnav A {
	BORDER-TOP-WIDTH: 0px! important; DISPLAY: block; BORDER-LEFT-WIDTH: 0px! important; BACKGROUND: url(../images/greenzi/icons/folder_blue.jpg) no-repeat 0px 3px; BORDER-BOTTOM-WIDTH: 0px! important; COLOR: #33c; BORDER-RIGHT-WIDTH: 0px! important
}
UL.topnav LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.7em; PADDING-TOP: 0px
}
UL.topnav LI.here LI.here SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.topnav LI.here A SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.topnav LI.here LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-TOP: 0px
}
UL.topnav LI.here SPAN LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-TOP: 0px
}
UL.topnav LI.here SPAN A SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-TOP: 0px
}
UL.topnav LI.here LI.here SPAN A SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.topnav A:hover {
	BACKGROUND: url(../images/greenzi/icons/folder_red.jpg) #fafafa no-repeat 0px 3px; COLOR: #006
}
UL.topnav A:active {
	BACKGROUND: url(../images/greenzi/icons/folder_red.jpg) #fafafa no-repeat 0px 3px; COLOR: #006
}
UL.topnav A:active {
	COLOR: #777
}
UL.topnav LI.here {
	BACKGROUND: url(../images/greenzi/icons/folder_open.jpg) no-repeat 0px 5px; FONT: bold 100.01%/1.5em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif
}
UL.topnav LI.here A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.topnav LI.here LI A {
	BACKGROUND: url(../images/greenzi/icons/document.jpg) no-repeat 0px 3px
}
UL.topnav LI.here LI.here A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none! important; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.topnav LI.here LI A:hover {
	BACKGROUND-COLOR: #fafafa! important
}
UL.topnav LI.here LI.here {
	PADDING-LEFT: 20px; BACKGROUND: url(../images/greenzi/icons/urhere.jpg) no-repeat 0px 3px; LINE-HEIGHT: 1.6em
}
#content A:active {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #9c0; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; BORDER-RIGHT-WIDTH: 0px
}
#content UL.topnav {
	WIDTH: auto
}
#content UL.topnav A {
	PADDING-LEFT: 20px
}
#content UL.topnav UL {
	DISPLAY: block
}
#footer P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #aaa; PADDING-TOP: 5px
}
#footer A {
	BORDER-BOTTOM-COLOR: #ccc; COLOR: #ccc
}
#footer A:hover {
	COLOR: #222; BACKGROUND-COLOR: #ccc
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 0px 0px 10px; OVERFLOW: hidden; WIDTH: 316px; PADDING-TOP: 0px; POSITION: absolute; HEIGHT: 70px
}
A#logo_ {
	DISPLAY: block; BACKGROUND: url(../images/greenzi/logo.png) no-repeat; OVERFLOW: hidden; WIDTH: 316px; TEXT-INDENT: -2000px; HEIGHT: 70px
}
#logo H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#download A#dloadbtn {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(../images/greenzi/download.png) no-repeat 0px -60px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 190px; COLOR: #eee; BORDER-TOP-STYLE: none; LINE-HEIGHT: normal; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 56px; TEXT-ALIGN: left; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#download A#dloadbtn:hover {
	BACKGROUND: url(../images/greenzi/download.png) no-repeat 0px 0px; COLOR: #111
}
#nl_wrapper .nl_article {
	MARGIN-BOTTOM: 20px
}
#nl_wrapper .nl_title {
	FONT-SIZE: 115%; WIDTH: 100%; BORDER-BOTTOM: #9c0 1px solid
}
#nl_wrapper .nl_title A {
	TEXT-DECORATION: none
}
#nl_wrapper .nl_title .nl_info {
	DISPLAY: block; FONT-SIZE: 75%; FLOAT: right; COLOR: #555; TEXT-ALIGN: right
}
#nl_wrapper .nl_link {
	FONT-SIZE: 75%; TEXT-ALIGN: right
}
#nl_wrapper A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#nl_wrapper A:link {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#nl_wrapper A:visited {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#nl_wrapper A:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.nl_paging {
	PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 86%; PADDING-BOTTOM: 10px; COLOR: #618100; PADDING-TOP: 10px
}
#nl_pages #nl_currentpage {
	BORDER-RIGHT: #618100 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #618100 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #618100 1px solid; COLOR: #fff; MARGIN-RIGHT: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #618100 1px solid; BACKGROUND-COLOR: #9c0
}
#nl_pages .nl_off {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #ccc; MARGIN-RIGHT: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
#nl_pages A {
	BORDER-RIGHT: #9c0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9c0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9c0 1px solid; COLOR: #618100; MARGIN-RIGHT: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #9c0 1px solid; TEXT-DECORATION: none! important
}
#nl_pages A:link {
	BORDER-RIGHT: #9c0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9c0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9c0 1px solid; COLOR: #618100; MARGIN-RIGHT: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #9c0 1px solid; TEXT-DECORATION: none! important
}
#nl_pages A:visited {
	BORDER-RIGHT: #9c0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9c0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9c0 1px solid; COLOR: #618100; MARGIN-RIGHT: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #9c0 1px solid; TEXT-DECORATION: none! important
}
#nl_pages A:hover {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
#nl_archivelist UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 15px; LIST-STYLE-TYPE: none
}
#nl_archivelist UL UL {
	MARGIN-LEFT: 35px; LIST-STYLE-TYPE: square
}
#nl_archivelist .nl_month {
	FONT-WEIGHT: bold
}
.version {
	FONT-WEIGHT: bold; FONT-SIZE: 200%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.version A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 200%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.searchinfo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; MARGIN: -10px 0px 10px; PADDING-TOP: 0px
}
.donorlabel {
	PADDING-RIGHT: 2px; DISPLAY: block; FLOAT: left; WIDTH: 3.5em; LINE-HEIGHT: 1.5em; TEXT-ALIGN: right
}
TABLE.ssi_table {
	BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ededed 1px solid
}
.ssi_table TD {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ededed 0px solid; PADDING-LEFT: 10px; FONT-SIZE: 86%; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #ededed 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ededed 1px solid
}
.ssi_table THEAD TH {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 0px solid; BORDER-LEFT: #ddd 0px solid; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #ededed
}
.ssi_table TR {
	BORDER-BOTTOM: #ededed 1px solid
}
.ssi_table TR:hover {
	BACKGROUND-COLOR: #fff
}
.ssi_table_forum_name {
	BORDER-RIGHT: #ededed 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fafafa; TEXT-ALIGN: left
}
.ssi_table_topic {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 10px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.ssi_table_author {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 10px; BORDER-RIGHT-WIDTH: 0px
}
.ssi_table_author A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 10px; BORDER-RIGHT-WIDTH: 0px
}
.ssi_table_author A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #111; BORDER-RIGHT-WIDTH: 0px
}
.ssi_table_author A:visited {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #111; BORDER-RIGHT-WIDTH: 0px
}
.ssi_table_author A:hover {
	BORDER-BOTTOM: #333 1px solid
}
.ssi_table_author A:active {
	BORDER-BOTTOM: #333 1px solid
}
.ssi_table_time {
	FONT-SIZE: 86%; COLOR: #999
}
.FSF_input {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 1px; BORDER-LEFT: #eee 1px solid; WIDTH: 75%; COLOR: #111; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}
.FSF_input:unknown {
	BACKGROUND: #fff; COLOR: #111; BORDER-BOTTOM: #000 1px solid
}
.FSF_submit {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/greenzi/search.jpg) no-repeat; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 5px; WIDTH: 22px; CURSOR: pointer; TEXT-INDENT: -9999px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
.FSF_submit:unknown {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/greenzi/search.jpg) no-repeat; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 5px; WIDTH: 22px; CURSOR: pointer; TEXT-INDENT: -9999px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
.submit:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/greenzi/search.jpg) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 22px; CURSOR: pointer; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
.FSF_submit:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/greenzi/search.jpg) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 22px; CURSOR: pointer; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT-SIZE: 1em
}
INPUT:unknown {
	BACKGROUND: #fff; COLOR: #111
}
CODE {
	PADDING-RIGHT: 10px; BORDER-TOP: #eee 2px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #ffffe6; PADDING-BOTTOM: 10px; MARGIN: 6px 0px; OVERFLOW: auto; COLOR: #900; LINE-HEIGHT: 1.6em; PADDING-TOP: 10px; BORDER-BOTTOM: #eee 2px solid
}
IMG.dotted {
	BORDER-RIGHT: #111 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #111 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 9px; BORDER-LEFT: #111 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #111 1px solid
}
#tools {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fafafa; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #999; LINE-HEIGHT: normal; PADDING-TOP: 5px
}
#tools P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#tools A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#tools A:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#tools P.hide-me {
	DISPLAY: none
}
.pre {
	CLEAR: none; DISPLAY: inline; COLOR: #900; FONT-FAMILY: courier, monospace
}
.legend_on_off {
	FONT-WEIGHT: normal; FONT-SIZE: 11px
}
.row1 {
	BACKGROUND: #eee
}
.row2 {
	BACKGROUND: #f7f7f7
}
.proptable {
	BORDER-RIGHT: #999 1px dashed; BORDER-TOP: #999 1px dashed; BORDER-LEFT: #999 1px dashed; BORDER-BOTTOM: #999 1px dashed
}
DL {
	BACKGROUND: #fafafa; BORDER-BOTTOM: #33c 1px solid
}
DT {
	PADDING-RIGHT: 0.5em; BORDER-TOP: #33c 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0.5em; MARGIN: 0px; WIDTH: 10em; PADDING-TOP: 0.5em
}
DD {
	PADDING-RIGHT: 0.5em; BORDER-TOP: #33c 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 11em; PADDING-TOP: 0.5em
}
DIV.PrevNextMenu {
	DISPLAY: block; BORDER-BOTTOM: #eee 2px double
}
.PrevNextMenu DIV {
	BORDER-RIGHT: #eee 2px double; PADDING-RIGHT: 4px; BORDER-TOP: #eee 2px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 70%; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 0px; BORDER-LEFT: #eee 2px double; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 2px double; BACKGROUND-COLOR: #fafafa
}
.apiFunction {
	FONT-SIZE: 12px; COLOR: blue
}
.apiParameters {
	FONT-SIZE: 12px; COLOR: green
}
.apiReturned {
	FONT-SIZE: 12px; COLOR: red
}
.deprecated {
	TEXT-DECORATION: line-through
}
