.sIFR-flash {
	VISIBILITY: visible! important; MARGIN: 0px
}
.sIFR-replaced {
	VISIBILITY: visible! important
}
SPAN.sIFR-alternate {
	DISPLAY: block; LEFT: 0px; OVERFLOW: hidden; WIDTH: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.sIFR-hasFlash H1 {
	VISIBILITY: hidden
}
.sIFR-hasFlash H2 {
	FONT-SIZE: 55px; VISIBILITY: hidden; LETTER-SPACING: -9px
}
.sIFR-hasFlash H3 {
	FONT-SIZE: 25px; VISIBILITY: hidden; LETTER-SPACING: -6px
}
.sIFR-hasFlash H4 {
	FONT-SIZE: 21px; VISIBILITY: hidden; LETTER-SPACING: -5px
}
.sIFR-hasFlash H5#pullquote {
	FONT-SIZE: 24px; VISIBILITY: hidden; LETTER-SPACING: -4px
}
