.sIFR-flash {
	DISPLAY: none! important; OVERFLOW: hidden; WIDTH: 0px; POSITION: absolute; HEIGHT: 0px
}
.sIFR-flash OBJECT {
	DISPLAY: none! important; OVERFLOW: hidden; WIDTH: 0px; POSITION: absolute; HEIGHT: 0px
}
.sIFR-flash EMBED {
	DISPLAY: none! important; OVERFLOW: hidden; WIDTH: 0px; POSITION: absolute; HEIGHT: 0px
}
SPAN.sIFR-alternate {
	DISPLAY: block! important; LEFT: auto! important; VISIBILITY: visible! important; POSITION: static! important; TOP: auto! important
}
