.mw-plusminus-null {
	COLOR: #aaa
}
.texvc {
	DIRECTION: ltr; unicode-bidi: embed
}
IMG.tex {
	VERTICAL-ALIGN: middle
}
SPAN.texhtml {
	FONT-FAMILY: serif
}
#toolbar {
	CLEAR: both
}
#wpTextbox1 {
	CLEAR: both
}
DIV#mw-js-message {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2.5%; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2.5%; PADDING-BOTTOM: 0.5em; MARGIN: 1em 5%; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.editsection {
	FLOAT: right; MARGIN-LEFT: 5px
}
TABLE.filehistory {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.filehistory TH {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid
}
TABLE.filehistory TD {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid
}
TABLE.filehistory TH {
	TEXT-ALIGN: left
}
TABLE.filehistory TD.mw-imagepage-filesize {
	WHITE-SPACE: nowrap
}
TABLE.filehistory TH.mw-imagepage-filesize {
	WHITE-SPACE: nowrap
}
