.ControlPanel {
	BORDER-RIGHT: #336699 0px solid; BORDER-TOP: #336699 0px solid; BACKGROUND: #fff; BORDER-LEFT: #336699 0px solid; BORDER-BOTTOM: #336699 1px solid
}
.ControlPanel IMG {
	MARGIN: 10px 5px 0px
}
.ControlPanel TD TD TD TD IMG {
	MARGIN: 0px
}
.ControlPanel DIV {
	BACKGROUND: #336699; WIDTH: 1px; HEIGHT: 100px
}
.ControlPanel TD.SubHead {
	BACKGROUND: #336699
}
.ControlPanel .SubHead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 5px
}
.ControlPanel .SubHead SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 5px
}
.ControlPanel TD TD TD .SubHead {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333
}
.ControlPanel A.CommandButton {
	FONT-WEIGHT: normal; FONT-SIZE: 10px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
#body {
	TEXT-ALIGN: center
}
.clearboth {
	CLEAR: both; FONT-SIZE: 1px
}
#skinheader {
	MARGIN: 0px auto; WIDTH: 99%; BORDER-BOTTOM: #ff9900 3px solid; POSITION: relative; HEIGHT: 70px; TEXT-ALIGN: left
}
#skinheader2 {
	MARGIN: 0px auto; WIDTH: 960px; BORDER-BOTTOM: #ff9900 3px solid; POSITION: relative; HEIGHT: 70px; TEXT-ALIGN: left
}
#skinlogo {
	FLOAT: left; WIDTH: 134px
}
#skinmenu {
	HEIGHT: 70px
}
#skinuseroptions {
	MARGIN: -70px auto 0px; HEIGHT: 30px; TEXT-ALIGN: right
}
#skinuseroptions DIV {
	FONT-SIZE: 10px; RIGHT: 20px; LINE-HEIGHT: 30px; POSITION: relative; HEIGHT: 30px
}
#skinbar {
	MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 25px
}
#skinbar2 {
	MARGIN: 0px auto; WIDTH: 99%; HEIGHT: 25px
}
#skinbreadcrumb {
	FLOAT: left; MARGIN-LEFT: 20px; POSITION: relative; TOP: 5px
}
#skinsitesearch {
	FLOAT: right; WIDTH: 290px; POSITION: relative; TOP: 3px; TEXT-ALIGN: left
}
#skinsitesearch SELECT {
	FONT-SIZE: 10px
}
#skinsitesearch INPUT {
	FONT-SIZE: 10px
}
.skincontentstable {
	CLEAR: both; MARGIN: 2px auto 0px; WIDTH: 99%; BORDER-BOTTOM: #ccc 1px solid
}
.skincontentstable2 {
	CLEAR: both; MARGIN: 2px auto 0px; WIDTH: 960px; BORDER-BOTTOM: #ccc 1px solid
}
#skinfooter {
	MARGIN: 0px auto; WIDTH: 99%
}
#skinfooter2 {
	MARGIN: 0px auto; WIDTH: 960px
}
#skincopyright {
	FONT-SIZE: 10px; FLOAT: right; WIDTH: 40%; LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: right
}
.toppane {
	
}
.leftpane {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.contentpane {
	
}
.rightpane {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px
}
.bottompane {
	
}
.footerpane {
	FLOAT: left; WIDTH: 40%; HEIGHT: 20px; TEXT-ALIGN: right
}
.normal {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
SPAN {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.head {
	COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.subhead {
	COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.subsubhead {
	COLOR: #000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.subsubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.skinfooter {
	FONT-SIZE: 10px; COLOR: #000
}
.footerpane .normal {
	FONT-SIZE: 10px
}
.footerpane DIV {
	FONT-SIZE: 10px
}
.footerpane SPAN {
	FONT-SIZE: 10px
}
.footerpane P {
	FONT-SIZE: 10px
}
.footerpane TD {
	FONT-SIZE: 10px
}
.footerpane TH {
	FONT-SIZE: 10px
}
.footerpane LI {
	FONT-SIZE: 10px
}
.footerpane .subhead {
	FONT-SIZE: 14px
}
A:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #336699; TEXT-DECORATION: underline
}
A:active {
	COLOR: #336699; TEXT-DECORATION: underline
}
.StandardButton {
	BORDER-RIGHT: #e9e9e9 1px outset; PADDING-RIGHT: 5px; BORDER-TOP: #e9e9e9 1px outset; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #e9e9e9; PADDING-BOTTOM: 5px; BORDER-LEFT: #e9e9e9 1px outset; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px outset
}
A.CommandButton {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A.CommandButton:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A.CommandButton:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.CommandButton:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A.CommandButton:active {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.skinbreadcrumb {
	FONT-SIZE: 11px
}
A.skinbreadcrumb {
	FONT-SIZE: 11px
}
.skinuseroptions {
	FONT-SIZE: 11px
}
A.skinuseroptions {
	FONT-SIZE: 11px
}
A.skinsitesearch {
	FONT-SIZE: 11px
}
A.skinsitesearch:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A.skinsitesearch:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.skinsitesearch:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.skinsitesearch:active {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.skinuseroptions:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A.skinuseroptions:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.skinuseroptions:hover {
	BACKGROUND: url(topbarhoverbg.gif); COLOR: #ff9900; TEXT-DECORATION: none
}
A.skinuseroptions:active {
	BACKGROUND: url(topbarhoverbg.gif); COLOR: #ff9900; TEXT-DECORATION: none
}
A.skinfooter:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A.skinfooter:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.skinfooter:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A.skinfooter:active {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.MainMenu_MenuContainer {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-LEFT: 10px; WIDTH: 1%
}
.MainMenu_MenuContainer TD {
	FONT-SIZE: 1px; WIDTH: 1px; CURSOR: default
}
.MainMenu_MenuIcon {
	DISPLAY: none
}
.MainMenu_RootMenuArrow {
	DISPLAY: none
}
.MainMenu_MenuItem {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 15px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px; COLOR: #336699; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.submenuitembreadcrumb {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 15px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px; COLOR: #ff9900; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.submenuitemselected {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 15px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #ccc; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px; COLOR: #336699; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.MainMenu_MenuArrow {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; HEIGHT: 18px
}
.submenu {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 0px; Z-INDEX: 1000; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid
}
.rootmenuitem {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.rootmenuitem TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 9px; PADDING-BOTTOM: 2px; CURSOR: hand; PADDING-TOP: 20px; HEIGHT: 70px
}
.rootmenuitem TD SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: right; TEXT-TRANSFORM: uppercase; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.rootmenuitemselected {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.rootmenuitemselected TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 9px; PADDING-BOTTOM: 2px; CURSOR: hand; PADDING-TOP: 20px; HEIGHT: 70px
}
.rootmenuitemselected TD SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: right; TEXT-TRANSFORM: uppercase; COLOR: #ff9900; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.rootmenuitembreadcrumb {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.rootmenuitembreadcrumb TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 9px; BACKGROUND: url(menuitembg.gif) repeat-x; PADDING-BOTTOM: 2px; CURSOR: hand; PADDING-TOP: 22px; BORDER-BOTTOM: #ff9900 2px solid; HEIGHT: 70px
}
.rootmenuitembreadcrumb TD SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: right; TEXT-TRANSFORM: uppercase; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.MainMenu_MenuBreak {
	DISPLAY: none
}
