BODY {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/header/whiteBG.gif); MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
BODY.fixed {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/header/whiteBG.gif); MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
BODY.popup {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/header/header_popup.gif); BACKGROUND-REPEAT: no-repeat
}
P {
	MARGIN-BOTTOM: 7px
}
FORM {
	MARGIN: 0px
}
.content_UL {
	MARGIN-TOP: 10px; LIST-STYLE-IMAGE: url(http://images.ittoolbox.com/ul_bullet.gif); MARGIN-LEFT: 20px
}
.ad_skyscraper {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.ad_box {
	MARGIN-TOP: 10px; FLOAT: right; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 10px; PADDING-TOP: 0px
}
.ad_box2 {
	MARGIN-TOP: -5px; FLOAT: right; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: -20px; PADDING-TOP: 10px
}
.ad_boxNoFloat {
	MARGIN-TOP: 5px; PADDING-TOP: 0px
}
.rightFloatContainer {
	PADDING-LEFT: 5px; FLOAT: right; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/whiteBG.gif); WIDTH: 340px; TEXT-ALIGN: center
}
.ad_leaderboard {
	PADDING-BOTTOM: 12px; TEXT-ALIGN: center
}
A:link {
	FONT: 10pt arial; COLOR: #4040ff
}
A:visited {
	FONT: 10pt arial; COLOR: #800080
}
A:active {
	FONT: 10pt arial; COLOR: #4040ff
}
A.smallUnvisited:link {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.smallUnvisited:visited {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.smallUnvisited:active {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.smallVisited:link {
	FONT: 8pt verdana; COLOR: #800080
}
A.smallVisited:visited {
	FONT: 8pt verdana; COLOR: #800080
}
A.smallVisited:active {
	FONT: 8pt verdana; COLOR: #800080
}
A.medVisited:link {
	FONT: 10pt arial; COLOR: #800080
}
A.medVisited:visited {
	FONT: 10pt arial; COLOR: #800080
}
A.medVisited:active {
	FONT: 10pt arial; COLOR: #800080
}
A.small:link {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.small:visited {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.small:active {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.smallgray:link {
	FONT: 8pt verdana; COLOR: #888888
}
A.smallgray:visited {
	FONT: 8pt verdana; COLOR: #888888
}
A.smallgray:active {
	FONT: 8pt verdana; COLOR: #888888
}
A.medsmall:link {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.medsmall:visited {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.medsmall:active {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.med:link {
	FONT: 10pt arial; COLOR: #4040ff
}
A.med:visited {
	FONT: 10pt arial; COLOR: #4040ff
}
A.med:active {
	FONT: 10pt arial; COLOR: #4040ff
}
A.smallVisited:link {
	FONT: 8pt verdana; COLOR: #800080
}
A.smallVisited:visited {
	FONT: 8pt verdana; COLOR: #800080
}
A.smallVisited:active {
	FONT: 8pt verdana; COLOR: #800080
}
A.smallShowVisited:link {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.smallShowVisited:visited {
	FONT: 8pt verdana; COLOR: #800080
}
A.smallShowVisited:active {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.medShowVisited:link {
	FONT: 10pt arial; COLOR: #4040ff
}
A.medShowVisited:visited {
	FONT: 10pt arial; COLOR: #800080
}
A.medShowVisited:active {
	FONT: 10pt arial; COLOR: #4040ff
}
A.largeShowVisited:link {
	FONT: 12pt arial; COLOR: #4040ff
}
A.largeShowVisited:visited {
	FONT: 12pt arial; COLOR: #800080
}
A.largeShowVisited:active {
	FONT: 12pt arial; COLOR: #4040ff
}
A.smallgreen:link {
	FONT: 8pt verdana; COLOR: #008000
}
A.smallgreen:visited {
	FONT: 8pt verdana; COLOR: #008000
}
A.smallgreen:active {
	FONT: 8pt verdana; COLOR: #008000
}
A.smallbold:link {
	FONT: bold 8pt verdana; COLOR: #4040ff
}
A.smallbold:visited {
	FONT: bold 8pt verdana; COLOR: #4040ff
}
A.smallbold:active {
	FONT: bold 8pt verdana; COLOR: #4040ff
}
A.medsmall:link {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.medsmall:visited {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.medsmall:active {
	FONT: 8pt verdana; COLOR: #4040ff
}
A.med:link {
	FONT: 10pt arial; COLOR: #4040ff
}
A.med:visited {
	FONT: 10pt arial; COLOR: #4040ff
}
A.med:active {
	FONT: 10pt arial; COLOR: #4040ff
}
A.medgray:link {
	FONT: 10pt arial; COLOR: #888888
}
A.medgray:visited {
	FONT: 10pt arial; COLOR: #800080
}
A.medgray:active {
	FONT: 10pt arial; COLOR: #888888
}
A.medplain:link {
	FONT: 10pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.medplain:visited {
	FONT: 10pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.medplain:active {
	FONT: 10pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.large:link {
	FONT: 12pt arial; COLOR: #4040ff
}
A.large:visited {
	FONT: 12pt arial; COLOR: #4040ff
}
A.large:active {
	FONT: 12pt arial; COLOR: #4040ff
}
A.largebold:link {
	FONT: bold 12pt arial; COLOR: #4040ff
}
A.largebold:visited {
	FONT: bold 12pt arial; COLOR: #4040ff
}
A.largebold:active {
	FONT: bold 12pt arial; COLOR: #4040ff
}
A.bulletLinkU:link {
	PADDING-LEFT: 25px; FONT: 9pt arial; COLOR: #4040ff
}
A.bulletLinkU:visited {
	PADDING-LEFT: 25px; FONT: 9pt arial; COLOR: #800080
}
A.bulletLinkU:active {
	PADDING-LEFT: 25px; FONT: 9pt arial; COLOR: #4040ff
}
A.times:link {
	FONT: 9pt times new roman; COLOR: #4040ff
}
A.times:visited {
	FONT: 9pt times new roman; COLOR: #4040ff
}
A.times:active {
	FONT: 9pt times new roman; COLOR: #4040ff
}
A.header_small:link {
	FONT: 8pt verdana; COLOR: #261f96
}
A.header_small:visited {
	FONT: 8pt verdana; COLOR: #261f96
}
A.header_small:active {
	FONT: 8pt verdana; COLOR: #261f96
}
A.medgray:link {
	FONT: 10pt arial; COLOR: #888888
}
A.medgray:visited {
	FONT: 10pt arial; COLOR: #888888
}
A.medgray:active {
	FONT: 10pt arial; COLOR: #888888
}
A.medgreen:link {
	FONT: 10pt arial; COLOR: #008000
}
A.medgreen:visited {
	FONT: 10pt arial; COLOR: #008000
}
A.medgreen:active {
	FONT: 10pt arial; COLOR: #008000
}
A.medbold:link {
	FONT: bold 10pt arial; COLOR: #4040ff
}
A.medbold:visited {
	FONT: bold 10pt arial; COLOR: #4040ff
}
A.medbold:active {
	FONT: bold 10pt arial; COLOR: #4040ff
}
A.medplain:link {
	FONT: 10pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.medplain:visited {
	FONT: 10pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.medplain:active {
	FONT: 10pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.large:link {
	FONT: 12pt arial; COLOR: #4040ff
}
A.large:visited {
	FONT: 12pt arial; COLOR: #4040ff
}
A.large:active {
	FONT: 12pt arial; COLOR: #4040ff
}
A.largebold:link {
	FONT: bold 12pt arial; COLOR: #4040ff
}
A.largebold:visited {
	FONT: bold 12pt arial; COLOR: #4040ff
}
A.largebold:active {
	FONT: bold 12pt arial; COLOR: #4040ff
}
A.verylarge:link {
	FONT: 16pt arial; COLOR: #4040ff
}
A.verylarge:visited {
	FONT: 16pt arial; COLOR: #4040ff
}
A.verylarge:active {
	FONT: 16pt arial; COLOR: #4040ff
}
A.bulletLink:link {
	PADDING-LEFT: 25px; FONT: 9pt arial; TEXT-DECORATION: none
}
A.bulletLink:visited {
	PADDING-LEFT: 25px; FONT: 9pt arial; TEXT-DECORATION: none
}
A.bulletLink:active {
	PADDING-LEFT: 25px; FONT: 9pt arial; TEXT-DECORATION: none
}
A.bulletLinkU:link {
	PADDING-LEFT: 25px; FONT: 9pt arial
}
A.bulletLinkU:visited {
	PADDING-LEFT: 25px; FONT: 9pt arial
}
A.bulletLinkU:active {
	PADDING-LEFT: 25px; FONT: 9pt arial
}
A.bulletLink_nobrU:link {
	PADDING-LEFT: 25px; FONT: 9pt arial
}
A.bulletLink_nobrU:visited {
	PADDING-LEFT: 25px; FONT: 9pt arial
}
A.bulletLink_nobrU:active {
	PADDING-LEFT: 25px; FONT: 9pt arial
}
A.bulletLink_nobr:link {
	PADDING-LEFT: 25px; FONT: 9pt arial; TEXT-DECORATION: none
}
A.bulletLink_nobr:visited {
	PADDING-LEFT: 25px; FONT: 9pt arial; TEXT-DECORATION: none
}
A.bulletLink_nobr:active {
	PADDING-LEFT: 25px; FONT: 9pt arial; TEXT-DECORATION: none
}
A.wiki_article:link {
	FONT: 10pt arial; COLOR: #223366
}
A.wiki_article:visited {
	FONT: 10pt arial; COLOR: #223366
}
A.wiki_article:active {
	FONT: 10pt arial; COLOR: #223366
}
A.wiki_pseudo:link {
	FONT: 10pt arial; COLOR: #aaaaaa
}
A.wiki_pseudo:visited {
	FONT: 10pt arial; COLOR: #aaaaaa
}
A.wiki_pseudo:active {
	FONT: 10pt arial; COLOR: #aaaaaa
}
A.wiki_new:link {
	FONT: 10pt arial; COLOR: #0000ff
}
A.wiki_new:visited {
	FONT: 10pt arial; COLOR: #0000ff
}
A.wiki_new:active {
	FONT: 10pt arial; COLOR: #0000ff
}
A.times:link {
	FONT: 9pt times new roman; COLOR: #4040ff
}
A.times:visited {
	FONT: 9pt times new roman; COLOR: #4040ff
}
A.times:active {
	FONT: 9pt times new roman; COLOR: #4040ff
}
.verysmall {
	FONT: 7pt verdana
}
.small {
	FONT: 8pt verdana
}
.medSmall {
	FONT: 9pt arial
}
.med {
	FONT: 10pt arial
}
.medgreen {
	FONT: 10pt arial; COLOR: #008000
}
.medLarge {
	FONT: 11pt arial
}
.large {
	FONT: 12pt arial
}
.largebold {
	FONT: bold 12pt arial
}
.searchInput {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 7px; HEIGHT: 20px
}
.goButton {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: bottom
}
.globalsearch {
	MARGIN-TOP: 0px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: top
}
.footer_top {
	BORDER-TOP: #57669c 1px solid; PADDING-LEFT: 14px; PADDING-BOTTOM: 6px; FONT: 9pt arial; PADDING-TOP: 6px; BORDER-BOTTOM: #57669c 1px solid; BACKGROUND-COLOR: #efecea
}
.footer_bottom {
	PADDING-LEFT: 14px; PADDING-BOTTOM: 6px; FONT: 8pt/13pt verdana; PADDING-TOP: 6px; BORDER-BOTTOM: #a7a7a4 1px solid; BACKGROUND-COLOR: #efecea
}
.footer_topNostretch {
	BORDER-TOP: #57669c 1px solid; PADDING-LEFT: 14px; PADDING-BOTTOM: 6px; FONT: 9pt arial; PADDING-TOP: 6px; BORDER-BOTTOM: #57669c 1px solid; BACKGROUND-COLOR: #efecea
}
.footer_bottomNostretch {
	PADDING-LEFT: 14px; PADDING-BOTTOM: 6px; FONT: 8pt/13pt verdana; PADDING-TOP: 6px; BORDER-BOTTOM: #a7a7a4 1px solid; BACKGROUND-COLOR: #efecea
}
.footer_smallText {
	FONT: 7pt verdana
}
.footer_img {
	MARGIN-TOP: 6px
}
A.footer_topLink:link {
	FONT: 9pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.footer_topLink:visited {
	FONT: 9pt arial; COLOR: #800080; TEXT-DECORATION: none
}
A.footer_topLink:active {
	FONT: 9pt arial; COLOR: #4040ff; TEXT-DECORATION: none
}
A.footer_topLink:hover {
	FONT: 9pt arial; COLOR: #4040ff; TEXT-DECORATION: underline
}
A.footer_bottomLink:link {
	FONT: 8pt verdana; COLOR: #4040ff; TEXT-DECORATION: none
}
A.footer_bottomLink:visited {
	FONT: 8pt verdana; COLOR: #800080; TEXT-DECORATION: none
}
A.footer_bottomLink:active {
	FONT: 8pt verdana; COLOR: #4040ff; TEXT-DECORATION: none
}
A.footer_bottomLink:hover {
	FONT: 8pt verdana; COLOR: #4040ff; TEXT-DECORATION: underline
}
.contextualBox {
	BORDER-TOP: #eaeaea 2px solid; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; FONT: 10pt arial; MARGIN-RIGHT: 0px; PADDING-TOP: 5px; BORDER-BOTTOM: #eaeaea 2px solid
}
.contextualBoxSkinny {
	BORDER-RIGHT: #aaaaaa 1px dashed; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 4px 4px; BORDER-TOP: #aaaaaa 1px dashed; PADDING-LEFT: 5px; FLOAT: right; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/context.gif); PADDING-BOTTOM: 5px; MARGIN: 5px 10px 10px 5px; BORDER-LEFT: #aaaaaa 1px dashed; WIDTH: 200px; PADDING-TOP: 25px; BORDER-BOTTOM: #aaaaaa 1px dashed; BACKGROUND-REPEAT: no-repeat
}
.contextualBox_premium {
	MARGIN-TOP: 2px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/premiumSmall.gif); BACKGROUND-REPEAT: no-repeat
}
.contextualTitle {
	BACKGROUND-POSITION: 0px 2px; PADDING-LEFT: 22px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/contextPlain.gif); PADDING-BOTTOM: 1px; BACKGROUND-REPEAT: no-repeat
}
.contextualBox_regular {
	BACKGROUND-POSITION: 7px 7px; MARGIN-TOP: 2px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/global_bullet.gif); BACKGROUND-REPEAT: no-repeat
}
.contextualMatchBorder {
	BORDER-RIGHT: #e5e1e1 1px solid
}
.contextualBoxGroups {
	BACKGROUND-POSITION: 4px 4px; BORDER-TOP: #eaeaea 2px solid; MARGIN-TOP: 10px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/context.gif); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; WIDTH: 336px; MARGIN-RIGHT: 0px; PADDING-TOP: 25px; BORDER-BOTTOM: #eaeaea 2px solid; BACKGROUND-REPEAT: no-repeat
}
.contextualTitleGroups {
	MARGIN-TOP: 2px; FONT: 10pt arial
}
.contextualBox_rank {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; MARGIN-TOP: 2px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; BACKGROUND-REPEAT: no-repeat
}
.googleAdsense {
	BORDER-RIGHT: #aaaaaa 1px dashed; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 5px 5px; BORDER-TOP: #aaaaaa 1px dashed; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/adsByGoogle.gif); PADDING-BOTTOM: 10px; BORDER-LEFT: #aaaaaa 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #aaaaaa 1px dashed; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fefefb
}
.bullet {
	BACKGROUND-POSITION: 10px 7px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/nav_bullet.gif); MARGIN-BOTTOM: 3px; BACKGROUND-REPEAT: no-repeat
}
.jobsbox_containerMid {
	BORDER-RIGHT: #bf3730 1px solid; PADDING-RIGHT: 1px; MARGIN-TOP: 0px; PADDING-LEFT: 2px; FONT: 10pt arial; BORDER-LEFT: #bf3730 1px solid; BACKGROUND-COLOR: #f9f8f7
}
.jobsbox_containerBottom {
	BORDER-RIGHT: #bf3730 1px solid; MARGIN-TOP: 20px; PADDING-BOTTOM: 8px; FONT: 10pt arial; BORDER-LEFT: #bf3730 1px solid; BORDER-BOTTOM: #bf3730 1px solid; BACKGROUND-COLOR: #f9f8f7; TEXT-ALIGN: right
}
.jobs_midCell {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/box/jobs_midBG.gif); BACKGROUND-REPEAT: repeat-x
}
.alsobox_container {
	BORDER-RIGHT: #57669c 1px solid; PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; FONT: 10pt arial; BORDER-LEFT: #57669c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #57669c 1px solid; BACKGROUND-COLOR: #f9f8f7
}
.also_midCell {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/box/also_midBG.gif); BACKGROUND-REPEAT: repeat-x
}
A.jobsbox_small:link {
	FONT: 7pt verdana; COLOR: #4040ff
}
A.jobsbox_small:visited {
	FONT: 7pt verdana; COLOR: #4040ff
}
A.jobsbox_small:active {
	FONT: 7pt verdana; COLOR: #4040ff
}
.box_bullet {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 1px 7px; MARGIN-TOP: 5px; PADDING-LEFT: 7px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/nav_bullet.gif); MARGIN-BOTTOM: 2px; MARGIN-LEFT: 0px; BACKGROUND-REPEAT: no-repeat
}
A.header_small:link {
	FONT: 11px verdana; COLOR: #261f96
}
A.header_small:visited {
	FONT: 11px verdana; COLOR: #261f96
}
A.header_small:active {
	FONT: 11px verdana; COLOR: #261f96
}
.header_KBtitle {
	FONT: bold 16pt arial; COLOR: #ffffff
}
.header_KBtitleSmall {
	FONT: bold 13pt arial; COLOR: #ffffff
}
.pseudoLink {
	CURSOR: pointer
}
.header_US {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/header/usHeaderBG.gif); MARGIN-BOTTOM: -7px; FONT: 12pt arial; WIDTH: 980px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center
}
.header_US_Stretch {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/header/usHeaderStretchBG.gif); MARGIN-BOTTOM: -7px; FONT: 12pt arial; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.header_CW {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/header/cwHeaderBG.gif); MARGIN-BOTTOM: -7px; FONT: 12pt arial; WIDTH: 980px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center
}
.header_CW_Stretch {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/header/cwHeaderStretchBG.gif); MARGIN-BOTTOM: -7px; FONT: 12pt arial; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.spotlightSmall {
	BORDER-RIGHT: #590205 2px solid; BORDER-TOP: #9d080d 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 10px; FONT: 10pt arial; BORDER-LEFT: #9d080d 1px solid; BORDER-BOTTOM: #590205 2px solid; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.spotlightSmallJobs {
	BORDER-RIGHT: #590205 2px solid; BORDER-TOP: #9d080d 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #9d080d 1px solid; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #590205 2px solid; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.spotlightSmallHeader {
	DISPLAY: block; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/spotlightBG.gif); MARGIN-BOTTOM: 4px; FONT: bold 11pt arial; MARGIN-LEFT: -4px; PADDING-TOP: 3px; BORDER-BOTTOM: #b8b8b8 1px solid; TEXT-ALIGN: center
}
.spotlightSmallHeaderLP {
	MARGIN-TOP: 0px; DISPLAY: block; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/spotlightBG.gif); MARGIN-BOTTOM: 4px; FONT: bold 11pt arial; MARGIN-LEFT: -4px; PADDING-TOP: 3px; BORDER-BOTTOM: #b8b8b8 1px solid; TEXT-ALIGN: center
}
.spotlightSmallsubheader {
	MARGIN-TOP: 5px; FONT: bold 10pt arial; COLOR: #7a0709
}
.spotlightP {
	MARGIN-TOP: 10px
}
.spotlightUL {
	MARGIN-TOP: 3px; PADDING-LEFT: 18px; LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(http://images.ittoolbox.com/global_bulletLarge.gif); MARGIN-BOTTOM: 4px; FONT: 8pt verdana; MARGIN-LEFT: 0px
}
.spotlight_premium {
	MARGIN-TOP: 2px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/premiumSmall.gif); BACKGROUND-REPEAT: no-repeat
}
.KHsmall_boxHeader {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/KHsmall_boxBG.gif); MARGIN-BOTTOM: 10px; WIDTH: 340px; BACKGROUND-REPEAT: no-repeat
}
.KHsmall_boxTitle {
	MARGIN-TOP: 3px; MARGIN-LEFT: 5px
}
.KHsmall_boxSiteNameCell {
	BORDER-RIGHT: #8b939a 2px solid; PADDING-BOTTOM: 10px; BORDER-LEFT: #8b939a 2px solid
}
.KHsmall_boxSiteName {
	FONT: bold 10pt arial; MARGIN-LEFT: 25px; COLOR: white
}
.KHsmall_boxContentCell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 15px; BORDER-LEFT: #8b939a 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #8b939a 2px solid
}
.KHsmall_boxLogoCell {
	BORDER-RIGHT: #8b939a 2px solid; BORDER-BOTTOM: #8b939a 2px solid
}
.googleAds {
	MARGIN-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #afafaf 2px solid; WIDTH: 275px
}
.KB_searchHeaderGroups {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/groups.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #c09a74 1px solid; BACKGROUND-REPEAT: no-repeat
}
.KB_searchHeaderWP {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/whitePaper.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #c5ae50 1px solid; BACKGROUND-REPEAT: no-repeat
}
.KB_searchHeaderJobs {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/jobs.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #9d080d 1px solid; BACKGROUND-REPEAT: no-repeat
}
.KB_searchHeaderBlogs {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/blogs.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #636ebf 1px solid; BACKGROUND-REPEAT: no-repeat
}
.KB_searchHeaderDoc {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/document.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #c5ae50 1px solid; BACKGROUND-REPEAT: no-repeat
}
.KB_searchHeaderNews {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/news.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #4e9c81 1px solid; BACKGROUND-REPEAT: no-repeat
}
.KB_searchHeaderEvents {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/events.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #c5ae50 1px solid; BACKGROUND-REPEAT: no-repeat
}
.KB_searchHeaderWiki {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/wiki.gif); MARGIN-BOTTOM: 0px; FONT: bold 12pt arial; BORDER-BOTTOM: #b15c53 1px solid; BACKGROUND-REPEAT: no-repeat
}
.comments_light {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: 14px 10px; BORDER-TOP: #b4b0a0 1px solid; PADDING-LEFT: 14px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/postReply.gif); PADDING-BOTTOM: 5px; FONT: 10pt/11pt Trebuchet MS; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f9f9f8
}
.comments_dark {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: 14px 10px; BORDER-TOP: #b4b0a0 1px solid; PADDING-LEFT: 14px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/postReply.gif); PADDING-BOTTOM: 5px; FONT: 10pt/11pt Trebuchet MS; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #eaeaea
}
.comments_bottomBorder {
	PADDING-RIGHT: 10px; BORDER-TOP: #b4b0a0 1px solid; PADDING-LEFT: 14px; LINE-HEIGHT: 11pt
}
.comments_timeDisplay {
	FLOAT: right; FONT: italic 8pt verdana
}
.comments_popupTitle {
	PADDING-LEFT: 5px; PADDING-BOTTOM: 15px; FONT: bold 14pt arial; PADDING-TOP: 0px
}
.comments_popupHeader {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 2px; FONT: bold 10pt arial; PADDING-TOP: 2px; BACKGROUND-COLOR: #e3d0bf
}
.KB_badgeSmall {
	BORDER-RIGHT: #d56531 2px solid; BORDER-TOP: #d56531 2px solid; MARGIN-TOP: 3px; FLOAT: left; BORDER-LEFT: #d56531 2px solid; MARGIN-RIGHT: 7px; BORDER-BOTTOM: #d56531 2px solid
}
.KB_badgeMedium {
	PADDING-LEFT: 9px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/userBadge/userBadge-med.gif); PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px
}
.KB_badgeMediumAlt {
	PADDING-LEFT: 9px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/userBadge/userBadge-medAlt.gif); MARGIN: 0px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px
}
.KB_badgeMedPic {
	MARGIN-TOP: 5px
}
.miniDash {
	BORDER-RIGHT: #d56531 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d56531 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; FONT: 8pt verdana; BORDER-LEFT: #d56531 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #d56531 1px solid; BACKGROUND-COLOR: #f6f6f6
}
.miniDashOut {
	BORDER-RIGHT: #d56531 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d56531 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; FONT: 10pt arial; BORDER-LEFT: #d56531 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d56531 1px solid; BACKGROUND-COLOR: #f6f6f6
}
.inviteNav {
	BORDER-TOP: #e4e3e3 1px solid; MARGIN-TOP: 5px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f6f6f6
}
.miniDash_badge {
	MARGIN-TOP: -5px; FLOAT: left; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/userBadge/smallBadge-shadowBG.gif); WIDTH: 25px; MARGIN-RIGHT: 5px; HEIGHT: 25px
}
A.dashlink:link {
	FONT: 11px verdana; COLOR: #261f96; TEXT-DECORATION: none
}
A.dashlink:visited {
	FONT: 11px verdana; COLOR: #261f96; TEXT-DECORATION: none
}
A.dashlink:active {
	FONT: 11px verdana; COLOR: #261f96; TEXT-DECORATION: none
}
A.dashlink:hover {
	FONT: 11px verdana; COLOR: #261f96; TEXT-DECORATION: underline
}
A.dash_nav:link {
	FONT: bold 13px arial; COLOR: #261f96; TEXT-DECORATION: none
}
A.dash_nav:visited {
	FONT: bold 13px arial; COLOR: #261f96; TEXT-DECORATION: none
}
A.dash_nav:active {
	FONT: bold 13px arial; COLOR: #261f96; TEXT-DECORATION: none
}
A.dash_nav:hover {
	FONT: bold 13px arial; COLOR: #261f96; TEXT-DECORATION: underline
}
A.invite_nav:link {
	FONT: 13px arial; COLOR: #261f96; TEXT-DECORATION: none
}
A.invite_nav:visited {
	FONT: 13px arial; COLOR: #261f96; TEXT-DECORATION: none
}
A.invite_nav:active {
	FONT: 13px arial; COLOR: #261f96; TEXT-DECORATION: none
}
A.invite_nav:hover {
	FONT: 13px arial; COLOR: #261f96; TEXT-DECORATION: underline
}
.findMembers {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.findMembers IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; LEFT: 5px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; POSITION: relative; TOP: 2px
}
.findMembers A:link {
	FONT: 10pt arial; COLOR: #bf1616
}
.findMembers A:active {
	FONT: 10pt arial; COLOR: #bf1616
}
.findMembers A:visited {
	FONT: 10pt arial; COLOR: #bf1616
}
.findMembers A:hover {
	FONT: 10pt arial; COLOR: #bf1616
}
.googleUser {
	BORDER-RIGHT: #d56531 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d56531 1px solid; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px 10px 10px 0px; FONT: 12px arial; BORDER-LEFT: #d56531 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #d56531 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff
}
.googleUser H2 {
	MARGIN: 0px 0px 5px; FONT: 16px arial bold; COLOR: #d56531
}
.join_Button {
	BORDER-TOP-WIDTH: 1px; MARGIN-TOP: 10px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: white; BACKGROUND-COLOR: #008000; BORDER-RIGHT-WIDTH: 1px
}
A.sharelink:link {
	FONT-SIZE: 12px; MARGIN-LEFT: 8px; COLOR: #4040ff; TEXT-DECORATION: none
}
A.sharelink:visited {
	FONT-SIZE: 12px; MARGIN-LEFT: 8px; COLOR: #4040ff; TEXT-DECORATION: none
}
A.sharelink:active {
	FONT-SIZE: 12px; MARGIN-LEFT: 8px; COLOR: #4040ff; TEXT-DECORATION: none
}
A.sharelink:hover {
	FONT-SIZE: 12px; MARGIN-LEFT: 8px; COLOR: #4040ff; TEXT-DECORATION: underline
}
#shareContainer {
	DISPLAY: none; Z-INDEX: 20000; WIDTH: 335px; POSITION: absolute
}
.sb_tabsBox {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/shareBox/sb_tabdownBG.gif); HEIGHT: 29px
}
.sb_tabUp {
	PADDING-LEFT: 10px; FONT: bold 13px arial; BORDER-LEFT: #d4d1cb 1px solid; PADDING-TOP: 4px; BACKGROUND-COLOR: #e2dedf
}
.sb_tabDown {
	PADDING-LEFT: 10px; FONT: 13px arial; BORDER-LEFT: white 1px solid; CURSOR: pointer; PADDING-TOP: 5px; BORDER-BOTTOM: white 1px solid
}
.sb_contentBox {
	BORDER-RIGHT: #493e28 1px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/sb_gradientBG.gif); PADDING-BOTTOM: 5px; BORDER-LEFT: #d4d1cb 1px solid; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: #493e28 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f6f6f6
}
.sb_title {
	FONT: bold 12pt arial
}
#tabSection {
	OVERFLOW: hidden; WIDTH: 330px; POSITION: relative
}
.shareFormField {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; WIDTH: 303px; BORDER-BOTTOM: #888888 1px solid; BACKGROUND-COLOR: #ffffee
}
.selectedTabStyle {
	DISPLAY: none; FONT: 10pt arial
}
#socialLinksTable TD {
	WIDTH: 50%
}
#shareLinksSection A {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 2px; DISPLAY: block; PADDING-LEFT: 22px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
#shareLinksSection55 A {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 2px; DISPLAY: block; PADDING-LEFT: 22px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
A.sb_link:link {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb_link:visited {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb_link:active {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.sb_link:hover {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
#akst_delicious {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/delicious.gif)
}
#akst_digg {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/digg.gif)
}
#akst_stumble {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/stumble.gif)
}
#akst_furl {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/furl.gif)
}
#akst_netscape {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/netscape.gif)
}
#akst_yahoo_myweb {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/yahoo_myweb.gif)
}
#akst_technorati {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/technorati.gif)
}
#akst_google_bmarks {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/google_bmarks.gif)
}
#akst_newsvine {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/newsvine.gif)
}
#akst_blinklist {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/blinklist.gif)
}
#akst_reddit {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/reddit.gif)
}
#akst_blogmarks {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/blogmarks.gif)
}
#akst_magnolia {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/magnolia.gif)
}
#akst_windows_live {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/windows_live.gif)
}
#akst_tailrank {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/sharebox/tailrank.gif)
}
#akst_whatis {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/icons/helpsmall.gif)
}
#shareContainer FORM {
	FONT-SIZE: 12px
}
.negativeButton {
	
}
.tField {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #888888 1px solid; COLOR: #000000; BORDER-BOTTOM: #888888 1px solid; FONT-FAMILY: Arial,verdana; BACKGROUND-COLOR: #ffffee
}
INPUT.textfield {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #888888 1px solid; COLOR: #000000; BORDER-BOTTOM: #888888 1px solid; FONT-FAMILY: Arial,verdana; BACKGROUND-COLOR: #ffffee
}
#shareContainer LABEL {
	FONT: 10pt arial
}
.headingLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 13px; COLOR: #c99c6a; LETTER-SPACING: 1px
}
.linkBarLinkIconClass {
	PADDING-RIGHT: 4px; OVERFLOW: hidden; WIDTH: 20px; HEIGHT: 20px
}
A.linkBarLinkClass:link {
	FONT-SIZE: 12px; MARGIN-LEFT: 8px; TEXT-DECORATION: none
}
A.linkBarLinkClass:visited {
	FONT-SIZE: 12px; MARGIN-LEFT: 8px; TEXT-DECORATION: none
}
A.linkBarLinkClass:hover {
	FONT-SIZE: 12px; MARGIN-LEFT: 8px; BACKGROUND-COLOR: #ffffee; TEXT-DECORATION: none
}
.linkBarClass {
	BORDER-TOP: #aaaaaa 1px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px solid; POSITION: relative; HEIGHT: 50px; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
A.medplain:link {
	FONT-SIZE: 13px; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.medplain:visited {
	FONT-SIZE: 13px; COLOR: #0000ff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.medplain:hover {
	FONT-SIZE: 13px; COLOR: #000055; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.KB_regBoxTopLeft {
	BORDER-TOP: #d56531 1px solid; BORDER-LEFT: #d56531 1px solid; BACKGROUND-COLOR: #f9f8f4
}
.KB_regBoxTopRight {
	BACKGROUND: url(http://images.ittoolbox.com/MyITTB/my_regTopRightBG.gif) no-repeat
}
.KB_regBoxContent {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; FONT: 10pt arial; BORDER-LEFT: #d56531 1px solid; PADDING-TOP: 20px; BACKGROUND-COLOR: #f9f8f4
}
.KB_regContentRight {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/MyITTB/my_regRightBG.gif); BACKGROUND-REPEAT: repeat-y
}
.KB_regBoxBottomCenter {
	BACKGROUND-IMAGE: url(http://images.ittoolbox.com/MyITTB/my_regBottomBG.gif); BACKGROUND-REPEAT: repeat-x
}
.KB_fadeRuleH1 {
	BACKGROUND-POSITION: 0px 25px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/MyITTB/my_fadeRule.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; FONT: 16pt arial; BACKGROUND-REPEAT: no-repeat
}
.KB_fadeRuleH1lg {
	BACKGROUND-POSITION: 0px 25px; BACKGROUND-IMAGE: url(http://images.ittoolbox.com/MyITTB/my_fadeRuleLg.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; FONT: 16pt arial; BACKGROUND-REPEAT: no-repeat
}
.KB_regFormCell {
	PADDING-RIGHT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.nameField {
	DISPLAY: none; VISIBILITY: hidden
}
